div.about {
	section.midashi {
		padding: 30px;
		p.text {
			margin-top: 15px;
			text-align: center;
			color: #907758;
		}
	}
	section.cont01 {
		article.flex {
			@include flex(space-between, center, justify, center);
			@include margin2(20px, 30px);
			p.left {
				@include basis(49%, 100%, 100%, 0, 0);
			}
			p.right {
				@include basis(49%, 100%, 100%, 30px, 20px);
				color: #907758;
				span {
					color: #21a173;
					font-size: 1.8rem;
				}
			}
		}
		p.text {
			color: #907758;
			span {
				color: #21a173;
			}
		}
		.precious {
			&__inner {
				.title {
					color: #21a173;
					padding-bottom: 15px;
				}
				&--pic {
					li {
						padding-bottom: 25px;
						&:last-child {
							padding-bottom: 0;
						}
						.title {
							color: #907758;
							padding-bottom: 10px;
						}
					}
				}
			}
		}
	}
	nav.page-nav {
		@include flex(space-between, center, justify, center);
		@include margin2(50px, 0);
		a {
			@include basis(32%, 32%, 49%, 15px, 15px);
			margin-top: 15px;
			padding: 8px 10px 5px;
			background: #fff;
			border: 1px solid #907758;
			color: #907758;
			text-align: center;
		}
	}
	section.cont02,
	section.cont03,
	section.cont04,
	section.cont05,
	section.cont06,
	section.cont07 {
		@include margin2(80px, 0);
		h2 {
			@include margin2(0, 30px);
		}
		p.img {
			@include margin2(0, 50px);
		}
		p.text {
			color: #907758;
			text-align: center;
		}
		article.list {
			dl {
				@include flex(space-between, flex-start, justify, start);
				padding: 10px 0;
				* {
					color: #907758;
				}
				dt {
					@include basis(30%, 40%, 100%, 0, 0);
					padding: 0 10px;
				}
				dd {
					@include basis(70%, 60%, 100%, 0, 0);
					padding: 0 10px;
				}
			}
		}
		article.list2 {
			dl {
				@include flex(space-between, flex-start, justify, start);
				padding: 15px 0;
				* {
					color: #907758;
				}
				dt {
					@include basis(30%, 40%, 100%, 0, 0);
					padding: 0 10px;
				}
				dd {
					@include basis(70%, 60%, 100%, 0, 0);
					padding: 0 10px;
					a {
						display: inline-block;
						margin-left: 8px;
						i {
							font-size: 2.4rem;
						}
					}
				}
			}
			dl:nth-of-type(2n-1) {
				background: #fff;
			}
		}
		article.map {
			margin-top: 20px;
			a {
				margin-top: 20px;
			}
		}
		article.block {
			background: #fff;
			padding: 30px;
			margin-top: 20px;
			div.flex {
				@include flex(space-between, flex-start, justify, start);
				p.left {
					@include basis(50%, 50%, 100%, 0, 0);
					padding: 0 15px;
				}
				div.right {
					@include basis(50%, 50%, 100%, 0, 0);
					padding: 0 15px;
					a {
						border: 1px solid #d0d0d0;
						background: #f8f7f3;
						color: #907758;
						text-align: center;
						padding: 13px 10px 10px;
					}
					a:first-of-type {
						margin-bottom: 10px;
					}
				}
			}
			div.flex:first-of-type {
				padding-bottom: 30px;
				margin-bottom: 30px;
				border-bottom: 1px solid #d0d0d0;
			}
		}
	}
}
