section.tbl{
  table{
    margin: 0 auto;
    border-collapse: collapse;
    max-width: 1000px;
    width: 100%;
    margin-top: 55px;
    @include lg{
      width: 750px;
    }
    @include md{
      width: 500px;
    }
    @include sp{
      width: 350px;
    }
    @include xs{
      width: 300px;
    }
    tr{
      border-bottom: solid 1px $color5;
      th{
        padding: 20px 0 20px 40px;
        width: 30%;
        color: $color2;
        vertical-align: top;
        font-size: 2rem;
        letter-spacing: 0.1em;
        line-height: 1em;
        max-width: 280px;
        text-align: left;
        @extend .text;
        font-weight: 700;
        @include lg{
          font-size: 18px;
          padding: 17px 0 17px 24px;
        }
        @include md{
          display: block;
          width: 100%;
          max-width: none;
          padding: 15px 10px;
          background-color: $color3;
        }
        @include sp{
          font-size: 1.6rem;
          padding: 10px 10px;

        }
      }
      .border{
        @include md{
          border-bottom: solid 1px $color5;
        }
      }
      td{
        width: 70%;
        color: $color1;
        font-size: 2rem;
        letter-spacing: 0.1em;
        // line-height: 1em;
        @extend .text;
        font-weight: 100;
        @include lg{
          font-size: 18px;
        }
        @include md{
          width: 100%;
          display: block;
          padding: 15px 10px;
        }
        @include sp{
          font-size: 16px;
        }
        a{
          color: $color2;
        }
      }
    }
    .bg{
      background-color: $color3;
      @include md{
        background-color: $color7;
      }
    }
  }
}
