@import "mixin.scss";
// font ========================================================
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;600&display=swap");
@font-face {
	font-family: "SourceCodePro-Medium";
	src: url("../fonts/SourceCodePro-Medium.eot");
	src: url("../fonts/SourceCodePro-Medium.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/SourceCodePro-Medium.ttf") format("truetype"),
		url("../fonts/SourceCodePro-Medium.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SourceCodePro-Bold";
	src: url("../fonts/SourceCodePro-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/SourceCodePro-Bold.ttf") format("truetype"),
		url("../fonts/SourceCodePro-Bold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
.text {
	font-family: "SourceCodePro-Medium";
	font-weight: 500;
	font-style: normal;
	font-size: 2rem;
	letter-spacing: 0.1em;
	line-height: 2em;
	@include sp {
		font-size: 1.6rem;
	}
}

.subtitle {
	font-family: "SourceCodePro-Bold";
	font-weight: 700;
	font-style: normal;
	font-size: 3.2rem;
	letter-spacing: 0.1em;
	line-height: 2.5em;
}

.title {
	font-family: vdl-logojrblack, sans-serif;
	font-weight: 900;
	font-style: normal;
	letter-spacing: 0.1em;
	line-height: 1.2em;
}
//==============================================================
// setting ========================================================

.list li {
	padding-bottom: 16px;
	line-height: 1.6em;
	display: flex;
	align-items: baseline;
	@include sp {
		padding-bottom: 16px;
	}
	&::before {
		content: "";
		width: 10px;
		height: 10px;
		border-radius: 10px;
		margin-right: 10px;
		display: inline-block;
		background: $color1;
		flex-shrink: 0;
	}
}
.list li:last-child {
	padding-bottom: 0px;
}
.list.nodot li {
	&::before {
		display: none;
	}
}
//==============================================================
// contents ====================================================
main {
	width: 100%;
	display: block;
	margin: 0 auto;
}
section.topsection {
	width: 100%;
	padding-top: 80px;
	padding-bottom: 0;
	@include lg {
		padding-top: 50px;
	}
}
section {
	width: 100%;
	padding: 80px 0;
	@include lg {
		padding: 50px 0;
	}
}

.blueback {
	background: $color3;
}
.inner {
	max-width: 850px;
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;
	@include xl {
		max-width: 100%;
	}
}
.sectioninner {
	max-width: 100%;
	padding: 48px 0;
	width: 100%;
	margin: 0 auto;
	@include lg {
		padding: 32px 0;
	}
}
.sectioninner:last-of-type {
	padding-bottom: 80px;
	@include lg {
		padding-bottom: 50px;
	}
}
.boxinner {
	padding-top: 40px;
	@include sp {
		padding-top: 32px;
	}
}
.box {
	width: 100%;
	display: block;
	max-width: 850px;
	width: 100%;
	margin: 0 auto;
	padding: 0 12px;
	@include lg {
		padding: 0 16px;
	}
}
.flex-align {
	display: flex;
	align-content: space-between;
	flex-flow: wrap;
}
.flexcontents {
	display: flex;
	justify-content: space-between;
	max-width: 850px;
	width: 100%;
	margin: 0 auto;
	padding: 0 12px;
	@include lg {
		padding: 0 16px;
	}
	@include sm {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.reverse {
	@include sm {
		flex-wrap: wrap-reverse;
	}
}
.illustimage {
	max-width: 50%;
	width: 100%;
	display: flex;
	@include lg {
		max-width: 320px;
		height: auto;
		padding-top: 0;
	}
	@include sm {
		padding-bottom: 40px;
	}
	@include sp {
		padding-bottom: 32px;
	}
	img {
		width: 100%;
		@include lg {
			max-width: 600px;
			display: block;
			margin: 0 auto;
		}
		@include md {
			max-width: 450px;
		}
		@include sp {
			max-width: 300px;
		}
	}
}
.illustimage:nth-of-type(odd) {
	padding-right: 40px;
	@include xl {
		padding-right: 24px;
	}
	@include lg {
		padding-right: 0;
	}
}
.illustimage:nth-of-type(even) {
	padding-left: 40px;
	@include xl {
		padding-left: 24px;
	}
	@include lg {
		padding-left: 0;
	}
}
//==============================================================
// Heading======================================================
h1 {
	text-align: center;
	@extend .subtitle;
	font-size: 3.8rem;
	color: $color2;
	line-height: 1.6em;
	@include lg {
		font-size: 3rem;
	}
	@include sp {
		font-size: 2.4rem;
	}
	&::after {
		content: "";
		width: 96px;
		height: 8px;
		background: $color4;
		display: block;
		margin: 0 auto;
		margin-top: 24px;
		@include xs {
			margin-top: 16px;
		}
	}
}
h2 {
	@extend .subtitle;
	color: $color2;
	line-height: 1.6em;
	// padding-bottom: 40px;
	padding-bottom: 32px;
	flex-wrap: wrap;
	@include lg {
		font-size: 2.6rem;
	}
	@include sp {
		font-size: 2rem;
		padding-bottom: 32px;
	}
	@include sm {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
h4 {
	color: $color2;
	line-height: 1.6em;
	width: 100%;
	@extend .subtitle;
	text-align: center;
	@include sm {
		font-size: 2.4rem;
		text-align: left;
	}
	@include sp {
		font-size: 1.6rem;
	}
}

.text {
	@extend .text;
	line-height: 2em;
}
.bluetext {
	@extend .subtitle;
	line-height: 1.6em;
	color: $color2;
	font-size: 2rem;
	@include sp {
		font-size: 1.6rem;
	}
}
.blue {
	color: $color2;
}
//logo-svg//
.main-logo,
.logoname {
	max-width: 415px;
	width: 100%;
	margin: 0 auto;
	@include xl {
		max-width: 300px;
	}
	@include lg {
		max-width: 220px;
	}
	@include sp {
		max-width: 200px;
	}
	img {
		width: 100%;
	}
}
.logoname {
	padding-top: 10px;
	display: inline-block;
}
.sab-logo,
.title-logo,
.footer-logo {
	max-width: 265px;
	width: 100%;
	display: inline-block;
	@include lg {
		max-width: 180px;
		margin: 0 auto;
	}
	@include xs {
		max-width: 145px;
	}
	img {
		width: 100%;
	}
}
.title-logo,
.footer-logo {
	padding-right: 10px;
	@include sp {
		padding-right: 5px;
	}
}
.footer-logo {
	@include sp {
		max-width: 268px;
		width: 100%;
		img {
			padding-bottom: 8px;
		}
	}
}
.title-logo {
	@include sp {
		max-width: 200px;
		width: 100%;
		line-height: 1em;
	}
}
//==============================================================
// flex ========================================================
.flex {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.line {
	display: flex;
	align-items: center;
	justify-content: center;
}
.left {
	display: flex;
	justify-content: flex-start;
}
.right {
	display: flex;
	justify-content: flex-end;
}
.center {
	text-align: center;
	@include sp {
		display: block;
	}
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.last {
	padding: 0 !important;
	margin: 0 !important;
}
//==============================================================
// breadcrumb ==================================================
.breadcrumb {
	max-width: 850px;
	width: 100%;
	padding: 0 16px;
	padding-top: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0 auto;
	a {
		padding-right: 5px;
		@include flex(center, center);
	}
	p {
		// font-size: 1.2rem;
		font-size: 1.8rem;
	}
}
//==============================================================
// media query =================================================

// @include xl { (1200px) } PCの最小
// @include lg { (1024px) } タブレット横
// @include md { (768px) }　タブレット縦
// @include sm { (767px) }　タブレット-スマホ
// @include sp { (540px) }　スマホ-iPhoneX
// @include xs { (375px) }　スマホ-iPhone5/6

.pc {
	display: block;
	@include sm {
		display: none !important;
	}
}
.sp {
	display: none !important;
	@include sm {
		display: block !important;
	}
}

.two {
	display: flex;
	@include sm {
		display: none !important;
	}
}
.one {
	display: none !important;
	@include sm {
		display: block !important;
	}
}

.brpc {
	display: inline-block;
	@include sm {
		display: none !important;
	}
}
.brsp {
	display: none !important;
	@include sm {
		display: inline-block !important;
	}
}
.brxs {
	display: none !important;
	@include xs {
		display: inline-block !important;
	}
}
//==============================================================
// btn =========================================================
.jumpbtn.small {
	.btn {
		width: 280px;
		height: 50px;
		border-radius: 100px;
		background: $color2;
		max-width: 300px;
		&:hover {
			opacity: 0.8;
		}
		@include sp {
			width: 300px;
			height: 56px;
			padding: 17px 0;
		}
		@include xs {
			width: 100%;
		}
		@include xs {
			width: 100%;
		}
		a {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			p {
				color: $color7;
				font-size: 2.4rem;
				line-height: 1em;
				letter-spacing: 0.2em;
				@extend .subtitle;
				@include sp {
					font-size: 2.2rem;
					line-height: 1em;
				}
			}
		}
	}
}
.jumpbtn {
	width: 100%;
	padding-top: 56px;
	@include lg {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	@include sm {
		padding-top: 40px;
	}
	@include sp {
		padding-top: 32px;
	}
	a {
		@include xs {
			max-width: 300px;
			width: 100%;
		}
		.btn {
			width: 280px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: $color2;
			border-radius: 100px;
			transition: 0.5s;
			&:hover {
				opacity: 0.8;
			}
			@include sp {
				width: 300px;
				height: 56px;
				padding: 17px 0;
			}
			@include xs {
				width: 100%;
			}
			p {
				color: $color7;
				font-size: 2.4rem;
				line-height: 1em;
				letter-spacing: 0.2em;
				@extend .subtitle;
				@include sp {
					text-align: center;
					font-size: 2.2rem;
					line-height: 1em;
				}
			}
		}
	}
}
//==============================================================

//accordion=====================================================
.accordion {
	background: $color7;
	box-shadow: 0 0 20px #c3c3c3;
	border-radius: 20px;
	padding: 14.5px 40px;
	position: relative;
	// display: flex;
	// align-items: center;
	// justify-content: space-between;
	// height: 61px;
	@include lg {
		padding: 24px 24px;
	}
	@include sp {
		border-radius: 15px;
		padding: 16px 8px;
	}
	.accordionhead {
		padding-left: 64px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include lg {
			padding-left: 0;
		}
		.switch {
			width: 29px;
			height: 29px;
			display: inline-block;
			position: relative;
			background: $color2;
			border-radius: 100px;
			flex-shrink: 0;
			@include lg {
				width: 40px;
				height: 40px;
			}
			@include sp {
				width: 24px;
				height: 24px;
			}
			&::after {
				content: "";
				width: 13px;
				height: 2px;
				display: inline-block;
				position: absolute;
				top: 45%;
				right: 8px;
				background: $color7;
				@include lg {
					width: 24px;
					right: 8px;
				}
				@include sp {
					width: 16px;
					height: 2px;
					right: 4px;
				}
			}
			&::before {
				content: "";
				width: 2px;
				height: 13px;
				display: inline-block;
				position: absolute;
				top: 8px;
				right: 45%;
				background: $color7;
				@include lg {
					height: 24px;
					top: 8px;
				}
				@include sp {
					width: 2px;
					height: 16px;
					top: 4px;
				}
			}
		}
	}
	.accordioninner {
		padding: 32px 0;
		display: none;
		@include sp {
			padding: 24px 0;
		}
	}
}
//==============================================================
// mainvisual ==================================================
.topvisual.hidden {
	display: block;
}
.undervisual.hidden {
	display: block;
}
//==============================================================
//キーワード検索=================================================
.search_container {
	width: 777px;
	margin: 0px auto;
	display: flex;
	align-items: center;
	@include lg {
		max-width: 768px;
		width: 100%;
	}
	@include sm {
		max-width: 100%;
	}
	@include xs {
		height: 40px;
	}
}
.search_container input[type="text"] {
	border: 2px solid $color2;
	width: 100%;
	font-size: 2rem;
	height: 72px;
	margin: 0;
	padding-left: 20px;
	border-radius: 50px 0 0 50px;
	@include sp {
		height: 56px;
	}
	@include xs {
		height: 40px;
	}
}
.search_container input[type="text"]::placeholder {
	@extend .text;
	color: $color2;
	font-size: 2rem;
	padding: 0;
	line-height: 0em;
	@include xs {
		font-size: 1.8rem;
	}
}
.search_container input[type="text"]:focus {
	outline: 0;
}
.search_container input[type="submit"] {
	width: 114px;
	height: 72px;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	border-radius: 0 50px 50px 0;
	background-size: 48px;
	background-color: $color2;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/svg/F&A/Search_icon.svg);
	@include sp {
		height: 56px;
		background-size: 24px;
	}
	@include xs {
		height: 40px;
	}
}
//==============================================================
