div.company{
  nav.page-nav{
    @include flex(space-between,center,justify,center);
    a{
      @include basis(45%,45%,45%,15px,15px);
      margin-top: 15px;
      padding:8px 10px 5px;
      background: #fff;
      border: 1px solid #907758;
      color: #907758;
      text-align: center;
    }
  }
  section.cont01,section.cont02{
    @include margin2(80px,0);
    h2{
      @include margin2(0,30px);
    }
    p.img{
      @include margin2(0,50px);
    }
    p.text{
      color: #907758;
      text-align: center;
    }
    article.list{
      dl{
        @include flex(space-between,flex-start,justify,start);
        padding:10px 0;
        *{
          color: #907758;
        }
        dt{
          @include basis(30%,40%,100%,0,0);
          padding:0 10px;
        }
        dd{
          @include basis(70%,60%,100%,0,0);
          padding:0 10px;
        }
      }
    }
    article.list2{
      dl{
        @include flex(space-between,flex-start,justify,start);
        padding:15px 0;
        *{
          color: #907758;
        }
        dt{
          @include basis(30%,40%,100%,0,0);
          padding:0 10px;
        }
        dd{
          @include basis(70%,60%,100%,0,0);
          padding:0 10px;
          a{
            display: inline-block;
            margin-left: 8px;
            i{
              font-size: 2.4rem;
            }
          }
        }
      }
      dl:nth-of-type(2n-1){
        background: #fff;
      }
    }
    article.map{
      margin-top: 20px;
      a{
        margin-top: 20px;
      }
    }
    article.block{
      background: #fff;
      padding:15px 30px 30px;
      margin-top: 20px;
      div.flex{
        @include flex(space-between,flex-start,justify,start);
        p{
          margin-top: 15px;
          @include basis(48%,48%,100%,15px,15px);
          padding:15px 15px;
          border: 1px solid #f2f1f0;
          background-color: #f8f7f3;
          text-align: center;
          a{
            color: #907758;
          }
        }
      }
    }
  }
}
