div.contact{
  section.cont01{
    @include padding(80px,0,100px);
    h2{
      @include margin2(0,50px);
    }
    form > ul{
      @include margin2(0,50px);
      border-top: 1px solid #009b69;
    }
    form > ul > li{
      @include flex(flex-start,stretch,start,stretch);
      border-bottom: 1px solid #dcdcdc;
      p.left{
        @include basis(240px,240px,100%,0,0);
        @include padding(30px,30px,30px);
        text-align: center;
        color: #85692a;
        span{
          line-height: 1.4em;
          font-size: 1.4rem;
          margin-left: 3px;
          color: #85692a;
          font-weight: normal;
        }
      }
      p.right{
        @include basis(690px,496px,100%,0,0);
        @include padding(30px,30px,30px);
      }
    }
    form > ul > li:last-of-type{
      border-bottom: 1px solid #009b69;
    }
    input[type='text'],input[type='email'],input[type="tel"],textarea{
      width: 100%;
      padding:5px;
      display: block;
      border: 1px solid #dcdcdc;
      border-radius: 5px;
      background: #fff;
    }
    div.privacy{
      padding:30px;
      height: 250px;
      overflow-y: scroll;
      @include margin2(50px,10px);
      border: 1px solid #dcdcdc;
      border-radius: 8px;
      background: #fff;
      h3{
        margin-bottom: 30px;
      }
      span{
        display: block;
        margin-top: 20px;
        color: #009b69;
        font-weight: bold;
      }
    }
    .check{
      text-align: center;
      margin:30px auto;
      input{
        margin-right: 8px;
      }
    }
    .send{
      text-align: center;
      p.send-button{
        margin:0 auto 20px;
        input{
          max-width: 360px;
          background: #009b69;
          text-align: center;
          color: #fff;
          padding:10px 30px;
          width: 100%;
        }
      }
    }
  }
}
