footer{
  position: relative;
  .footerinner{
    max-width: 1200px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }
  .banner{
    width: 100%;
    height: 220px;
    @include flex(center,center);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./../images/png/common/footer_banner_bg.png);
    @include sm{
      padding: 40px 0;
    }
    .bannerinner{
      @include flex(center,center);
      flex-wrap: wrap;
      @include sp{
        padding: 0 16px;
      }
      h3.bannercatch{
        color: $color7;
        @include sp{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
        }
        @include xs{
          width: 100%;
          margin: 0 auto;
          text-align: center;
        }
        .footer-logo{
        }
      }
      .jumpbtn{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        .btn{
          background: none;
          border: solid 1px $color7;
          transition: 0.5s;
          &:hover{
            opacity: 1;
            background: $color7;
            p{
              color: $color2;
            }
          }
        }
      }
    }
  }
  .return{
    position: absolute;
    width: 130px;
    height: 130px;
    display: block;
    right: 50px;
    top: 160px;
    transition: 0.5s;
    &:hover{
      top: 130px;
    }
    @include lg{
      width: 100px;
      height: 100px;
      right: 0;
      top: 38%;
      &:hover{
        top: 36%;
      }
    }
    @include sp{
      width: 80px;
      height: 80px;
      right: 0;
      top: 47%;
      &:hover{
        top: 43%;
      }
    }
    a{
      width: 100%;
      height: 100%;
      display: block;
      img{
        width: 100%;
      }
    }
  }
  .footermenu{
    width: 100%;
    background: $color3;
    padding-top: 32px;
    @include sm{
      padding-top: 24px;
    }
    img{
      @include xs{
        max-width: 350px;
        width: 100%;
      }
    }
    .footerlogo {
      max-width: 1200px;
      width: 100%;
      padding: 0 16px;
      padding-bottom: 24px;
      margin: 0 auto;
      @include sm{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @include sp{
        justify-content: flex-start;
        padding-bottom: 10px;
      }
      img{
        max-width: 350px;
        width: 100%;
      }
    }
    .footerinner{
      @include v-fix(display, flex);
      align-items: flex-start;
      padding-bottom: 32px;
      border-bottom: solid 1px $color1;
      .menupic{
        width : calc(100% / 3) ;
        ul.list{
          max-width: 225px;
          height: 225px;
          width: 100%;
          margin: 0 auto;
          @include md{
            max-width: 200px;
          }
          p{
            font-size: 2.0rem;
            color: $color6;
            line-height: 1.2em;
            padding-bottom: 24px;
          }
          li{
            padding-bottom: 16px;
            font-size: 2.0rem;
            line-height: 1.2em;
            &::before {
              width: 4px;
              height: 4px;
            }
          }
        }
      }
      .menupic:nth-of-type(2){
        border-left: solid 1px $color1;
        border-right: solid 1px $color1;
      }
    }
  }
  .copyright{
    font-family: 'SourceCodePro-Medium';
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    background: $color3;
    @include sm{
      padding: 16px;
    }
    p{
      text-align: center;
      font-size: 12px;
      line-height: 1.2em;
      @include sm{
        font-size: 1.2rem;
      }
    }
  }
}
