.licenseabout{
  .accordion{
    margin-bottom: 40px;
    .accordionhead{
      padding-left: 0;
    }
  }
  .accordion:last-child{
    margin-bottom: 0;
  }
}
.management{
  h2{
    padding-top: 56px;
  }
  .accordion{
    .accordionhead{
      padding-left: 0;
    }
  }
}
.update{
  ul{
    li{
      text-align: center;
      padding-bottom: 24px;
    }
  }
}

h3.mailaddress{
  padding-top: 40px;
  text-align: center;
  font-size: 3.8rem;
  color: $color2;
  @include sp{
    font-size: 2.4rem;
  }
}
