.function{
  #first{
    background-image: url(./../images/svg/function/number_01.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  #second{
    background-image: url(./../images/svg/function/number_02.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  #third{
    background-image: url(./../images/svg/function/number_03.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  #fourth{
    background-image: url(./../images/svg/function/number_04.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  #fifth{
    background-image: url(./../images/svg/function/number_05.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  #sixth{
    background-image: url(./../images/svg/function/number_06.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  #seventh{
    background-image: url(./../images/svg/function/number_07.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  #eighth{
    background-image: url(./../images/svg/function/number_08.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  #ninth{
    background-image: url(./../images/svg/function/number_09.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  #tenth{
    background-image: url(./../images/svg/function/number_10.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  #first,
  #third,
  #fifth,
  #seventh,
  #ninth{
    padding-right: 40px;
    padding-left: 0;
    @include xl{
      padding-right: 0;
    }
  }
  #second,
  #fourth,
  #sixth,
  #eighth,
  #tenth{
    padding-left: 40px;
    padding-right: 0;
    @include xl{
      padding-left: 0;
    }
  }
  #first,
  #second,
  #third,
  #fourth,
  #fifth,
  #seventh,
  #sixth,
  #eighth,
  #ninth,
  #tenth,{
    max-width: 50%;
    width: 100%;
    @include lg{
      max-width: 800px;
      background-position: center right;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      background-image: none;
    }
    @include sm{
      max-width: 600px;
    }
  }
  .illustimage {
    img{
      width: 100%;
      height: 100%;
    }
  }
}
