header {
	margin-top: 60px;
	@include sp {
		margin-top: 56px;
	}
	.headernav {
		width: 100%;
		height: 60px;
		background: $color7;
		z-index: 5;
		margin-top: -60px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		box-shadow: 0px 1px 10px 0px #c3c3c3;
		@include sp {
			height: 56px;
			margin-top: -56px;
		}
		// &.hide {
		//   transform: translateY(-96px);
		// }
		.headerinner {
			max-width: 1500px;
			width: 100%;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include xl {
				padding: 0 16px;
				padding-left: 0;
			}
			@include sm {
				background: $color7;
				position: relative;
				z-index: 4;
			}
			.logo {
				width: auto;
				height: 60px;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				@include xl {
					padding: 0;
				}
				@include sm {
					max-width: 250px;
					width: 100%;
				}
				@include sp {
					max-width: 200px;
					width: 100%;
				}
				a {
					width: 100%;
					height: 100%;
					display: block;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
			nav {
				max-width: 1200px;
				width: 100%;
				margin: 0 auto;
				display: flex;
				justify-content: flex-end;
				@include xl {
					padding: 0;
				}
				.headermenu {
					display: flex;
					align-items: center;
					li {
						position: relative;
						padding: 0 30px;
						height: 60px;
						display: flex;
						justify-content: center;
						align-items: center;
						color: $color6;
						@include xl {
							padding: 0 10px;
						}
						@include lg {
							padding: 0 5px;
						}
						&:hover {
							background: $color3;
						}
						a {
							color: $color6;
						}
						ul.dropmenu {
							background: $color3;
							width: 416px;
							display: none;
							flex-direction: column;
							align-content: center;
							justify-content: flex-start;
							position: absolute;
							top: 60px;
							right: 0;
							z-index: 1;
							padding: 50px;
							@include sp {
								top: 56px;
							}
						}
						li {
							width: 100%;
							height: auto;
							display: flex;
							align-items: center;
							justify-content: flex-start;
							padding: 0 0 30px 0;
							color: $color6;
							a {
								color: $color6;
								span {
									font-size: 1.6rem;
									width: 100%;
									color: $color6;
									display: inline-block;
								}
							}
						}
						.dropbtn {
							padding: 0;
							.shortbtn {
								width: 320px;
								height: 56px;
								background: $color2;
								border-radius: 100px;
								display: flex;
								align-items: center;
								justify-content: center;
								&:hover {
									opacity: 0.8;
								}
								p {
									color: $color3;
								}
							}
						}
					}
					li:last-child {
						display: flex;
						align-items: center;
						justify-content: center;
						&::after {
							content: "";
							width: 10px;
							height: 10px;
							display: block;
							margin-left: 5px;
							background-image: url(../images/svg/common/support_open.svg);
							background-repeat: no-repeat;
							background-size: contain;
							transition: 0.5s;
						}
						&:hover {
							&::after {
								transform: rotate(180deg);
							}
						}
					}
				}
				.headermenu {
					li.bordercheck {
						transition: 0.5s;
						&:hover {
							transition: 0.5s;
							&::after {
								content: "";
								width: 100%;
								height: 8px;
								background: $color8;
								@include absoluteCenterX;
								bottom: 0;
								transition: 0.5s;
							}
						}
					}
				}
			}
		}
	}
}
.topvisual {
	background-image: url(../images/common/main_visual.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.topvisual {
	max-width: 100%;
	width: 100%;
	height: 720px;
	@include lg {
		height: 640px;
	}
	@include sm {
		height: 560px;
	}
	@include sp {
		height: 510px;
	}
}
.undervisual.hidden {
	max-width: 100%;
	width: 100%;
	height: calc(400px - 70px);
	background-image: url(../images/common/undervisual_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

//スマホメニュー--------------------------------------------
.btnmeun {
	position: absolute;
	top: 12px;
	right: 16px;
	.meunbtn {
		width: 30px;
		height: 32px;
		display: flex;
		flex-direction: column;
		align-items: center;
		right: 16px;
		z-index: 5;
		justify-content: center;
		position: fixed;
		span {
			width: 30px;
			height: 2px;
			display: block;
			background: $color1;
			position: absolute;
		}
		span:nth-of-type(1) {
			top: 0;
			transition: 0.3s;
		}
		span:nth-of-type(2) {
			top: 7px;
			transition: 0.3s;
		}
		p {
			position: absolute;
			bottom: 0;
			padding-top: 5px;
			font-size: 10px;
			line-height: 1em;
			@extend .subtitle;
			text-align: center;
		}
	}
}
//active----------------------------------------------------------------------
.meunbtn.active {
	position: fixed;
	right: 16px;
	z-index: 5;
	span:nth-of-type(1) {
		top: 10px;
		transform: rotate(35deg);
	}
	span:nth-of-type(2) {
		top: 10px;
		transform: rotate(-35deg);
	}
}
//meun-inner-----------------------------------------------------------------
.meunnav {
	max-width: 440px;
	width: 100%;
	height: 100vh;
	display: block;
	position: fixed;
	right: 0;
	bottom: 100%;
	z-index: -10;
	background: $color7;
	transform: translateY(-100%);
	transition: all 0.6s;
	@include sp {
		max-width: 100%;
		width: 100%;
		right: 0;
	}
	nav {
		flex-direction: column;
	}
}
.meunnav.active {
	max-width: 440px;
	width: 100%;
	height: 100vh;
	display: block;
	top: 60px;
	right: 0;
	position: fixed;
	transform: translateY(0%);
	transition: all 0.6s;
	overflow: scroll;
	@include sp {
		top: 56px;
		padding-bottom: 160px;
	}
	nav {
		width: 100%;
		padding-bottom: 40px;
		.spmenubtn {
			width: 100%;
			li {
				width: 100%;
				height: 56px;
				padding: 10px 16px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				span {
					display: flex;
					width: 32px;
					height: 32px;
					position: relative;
					align-items: center;
					align-content: center;
					justify-content: center;
					&::before {
						content: "";
						width: 24px;
						height: 2px;
						background: $color1;
						display: block;
						transition: 0.3s;
						@include absoluteCenter;
					}
					&::after {
						content: "";
						width: 2px;
						height: 24px;
						background: $color1;
						display: block;
						transition: 0.3s;
						@include absoluteCenter;
					}
				}
			}
			li:last-child {
				padding: 0;
				height: auto;
				.jumpbtn {
					@include sp {
						padding-top: 16px;
					}
				}
			}
			.navtitle.open {
				color: $color7;
				background: $color2;
				span {
					display: flex;
					width: 32px;
					height: 32px;
					position: relative;
					align-items: center;
					align-content: center;
					justify-content: center;
					&::before {
						content: "";
						width: 24px;
						height: 2px;
						background: $color7;
						display: block;
						@include absoluteCenter;
					}
					&::after {
						background: $color7;
						transform: rotate(90deg);
						top: 4px;
						left: 47%;
					}
				}
			}
			.subnav {
				display: none;
				ul {
					li {
						padding: 0;
						a {
							line-height: 1em;
							padding: 20px;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
//catchcopy-----------------------------------------------------------------
.topvisual {
	.visual-ionner {
		max-width: 1156px;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: relative;
		@include lg {
			max-width: 900px;
		}
		@include sm {
			max-width: 640px;
		}
		.catchcopy {
			@include absoluteCenter;
			z-index: 1;
			max-width: 1000px;
			width: 100%;
			color: $color7;
			text-align: center;
			flex-direction: column;
			@include lg {
				padding: 32px 16px;
			}
			h1 {
				line-height: 2.6em;
				font-size: 3.2rem;
				color: $color7;
				padding-bottom: 40px;
				letter-spacing: 0.2em;
				@include xl {
					font-size: 2.4rem;
				}
				@include lg {
					line-height: 1.6em;
				}
				@include sm {
					font-size: 2.4rem;
					padding-bottom: 32px;
				}
				.main-logo {
					@include sp {
						max-width: 268px;
						width: 100%;
					}
				}
				&::after {
					display: none;
				}
				.title-top {
					font-size: 3.2rem;
					letter-spacing: 0.2em;
					font-weight: 600;
					padding-bottom: 10px;
					color: $color7;
					@include lg {
						font-size: 2.4rem;
					}
					@include sp {
						font-size: 2rem;
						letter-spacing: 0.16em;
						line-height: 1.5em;
						padding-bottom: 5px;
					}
				}
			}
			.subcopy,
			.bottom-catch {
				@extend .text;
				font-size: 2.4rem;
				letter-spacing: 0.2em;
				color: $color7;
				@include lg {
					line-height: 2em;
				}
				@include sp {
					font-size: 1.6rem;
				}
			}
			.bottom-catch {
				@include sp {
					padding-top: 16px;
				}
			}
			.catch {
				display: flex;
				align-items: center;
				justify-content: center;
				@extend .subtitle;
				font-size: 2.4rem;
				line-height: 1.6em;
				color: $color7;
				@include sm {
					padding-top: 24px;
					line-height: 1.6em;
				}
				@include sp {
					max-width: 375px;
					font-size: 2rem;
					align-items: flex-end;
					flex-flow: wrap;
				}
				@include xs {
					font-size: 1.6rem;
					line-height: 2em;
					flex-flow: wrap;
				}
				.toul {
					font-size: 4rem;
					position: relative;
					letter-spacing: 0.2em;
					@extend .subtitle;
					@include xl {
						font-size: 3rem;
					}
					@include lg {
						font-size: 2.4rem;
					}
					@include sm {
						line-height: 1.6em;
					}
					@include xs {
						padding-bottom: 8px;
					}
					&::before {
						content: "";
						width: 10px;
						height: 10px;
						display: block;
						position: absolute;
						top: 0;
						left: 40px;
						border-radius: 20px;
						background-color: $color8;
						@include xl {
							width: 8px;
							height: 8px;
							left: 6px;
						}
						@include sm {
							left: 5px;
							top: -8px;
						}
						@include sp {
							left: 8px;
						}
					}
					&::after {
						content: "";
						width: 10px;
						height: 10px;
						display: block;
						position: absolute;
						top: 0px;
						left: 9px;
						border-radius: 20px;
						background-color: $color8;
						@include xl {
							width: 8px;
							height: 8px;
							left: 29px;
						}
						@include lg {
							left: 24px;
						}
						@include sm {
							left: 22px;
							top: -8px;
						}
						@include sp {
							left: 37px;
						}
					}
				}
				.sab-logo {
					padding: 0 10px;
					margin: 0;
					@include sp {
						max-width: 240px;
						padding-left: 0;
						margin: 0;
					}
				}
			}

			.jumpbtn {
				display: flex;
				align-items: center;
				justify-content: center;
				.btn {
					border: 2px solid $color7;
					background-color: transparent;
					&:hover {
						opacity: 1;
						background: $color7;
						p {
							color: $color2;
						}
					}
				}
			}
		}
		.visual-left {
			@include absoluteCenterY;
			left: 0;
			max-width: 280px;
			width: 100%;
			@include lg {
				max-width: 220px;
			}
			@include sm {
				max-width: 150px;
				left: 16px;
			}
			@include sp {
				display: none;
			}
			img {
				width: 100%;
			}
		}
		.visual-right {
			@include absoluteCenterY;
			right: 0;
			max-width: 280px;
			width: 100%;
			@include lg {
				max-width: 220px;
			}
			@include sm {
				max-width: 150px;
				right: 16px;
			}
			@include sp {
				display: none;
			}
			img {
				width: 100%;
			}
		}
	}
}

.undervisual {
	width: 100%;
	height: calc(400px - 60px);
	.undervisual-ionner {
		position: relative;
		height: 100%;
		max-width: 1000px;
		margin: 0 auto;
		@include lg {
			max-width: 768px;
		}
		@include sm {
			max-width: 540px;
		}
		.catchcopy {
			@include absoluteCenter;
			z-index: 1;
			max-width: 1000px;
			width: 100%;
			color: $color7;
			text-align: center;
			h1 {
				line-height: 2.6em;
				font-size: 3.2rem;
				color: $color7;
				letter-spacing: 0.2em;
				@include xl {
					font-size: 2.4rem;
				}
				@include lg {
					line-height: 1.6em;
				}
				@include sm {
					font-size: 2.4rem;
				}
				&::after {
					display: none;
				}
			}
			.jumpbtn {
				display: flex;
				align-items: center;
				justify-content: center;
				.btn {
					border: 2px solid $color7;
					background-color: transparent;
					transition: 0.5s;
					&:hover {
						opacity: 1;
						background: $color7;
						p {
							color: $color2;
						}
					}
				}
			}
		}
		.under-left {
			@include absoluteCenterY;
			left: 0;
			@include lg {
				max-width: 150px;
			}
			@include sm {
				max-width: 100px;
			}
			@include sp {
				display: none;
			}
			img {
				width: 100%;
			}
		}
		.under-right {
			@include absoluteCenterY;
			right: 0;
			@include lg {
				max-width: 150px;
			}
			@include sm {
				max-width: 100px;
			}
			@include sp {
				display: none;
			}
			img {
				width: 100%;
			}
		}
	}
}
