.index{
  .sectioninner{
    .flexcontents{
      .illustimage img:first-of-type{
        height: 294px;
        object-fit: contain;
      }
      .illustimage img:nth-of-type(2){
        height: 400px;
        object-fit: contain;
      }
      .illustimage img:nth-of-type(3){
        height: 315px;
        object-fit: contain;
      }
      .illustimage img:last-of-type{
        height: 305px;
        object-fit: contain;
      }
    }
  }
}
.trial{
  .sectioninner{
    .flexcontents{
      .illustimage.two{
        max-width: 400px;
        width: 100%;
        flex-shrink: 0;
        padding-right: 0;
        height: 324px;
        object-fit: contain;
        @include lg{
          max-width: 320px;
        }
      }
    }
  }
}
