div.index{
  section.cont01{
    @include padding(100px,0,70px);
    p.text{
      text-align: center;
      @include margin2(35px,0);
      color: #907758;
    }
    article.now{
      @include margin2(70px,0);
      h3{
        @media only screen and (max-width: 767px){
          max-width: 200px;
          margin:0 auto;
        }
      }
      div.flex{
        @include flex(space-between,flex-start,justify,start);
        @include margin2(35px,0);
        article.single{
          @include basis(32%,32%,100%,0,20px);
          p{
            padding:20px 30px;
            color: #907758;
            font-weight: bold;
            text-align: center;
            line-height: 2rem;
          }
          p.top{
            background: #e7d2b5;
          }
          p.middle,p.bottom{
            background: #daebe7;
            @include flex(space-between,center,justify,center);
            color: #907758;
            font-weight: normal;
            span{
              @include basis(33.3333%,33.3333%,33.3333%,0,0);
            }
          }
          p.middle{
            padding:0 30px;
            span{
              padding:20px 0;
              border-bottom: 1px solid #c5c5c5;
            }
          }
        }
      }
    }
    article.flex03{
      @include flex(space-between,stretch,justify,stretch);
      margin-top: 50px;
      div.left{
        border: 2px solid #e5dacd;
        padding:5px;
        @include basis(370px,100%,100%,0,0);
        img{
          width: 100%;
        }
      }
      div.right{
        position: relative;
        box-shadow: 0 0 0 2px #e5dacd , 0 0 0 5px #fff inset;
        padding:30px;
        @include basis(370px,385px,100%,30px,20px);
        @include flex(center,center,center,center);
        background-color: #f8f7f3;
        border:1px solid #f2f1f0;
        .capacityimg{
          position: absolute;
          left: -8px;
          top: 15px;
        }
        h2{
          width: 100%;
          padding-top: 18px;
        }
        p.links{
          margin-top: 20px;
          width: 100%;
          @include flex(space-between,center,justify,center);
          a{
            @include basis(calc(50% - 8px),calc(50% - 8px),calc(50% - 8px),0,0);
          }
        }
        @media only screen and (max-width: 1365px){
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    article.flex{
      @include flex(space-between,flex-start,justify,start);
      a{
        margin-top: 50px;
        @include basis(32%,48%,100%,40px,30px);
      }
    }
  }
  section.cont02{
    margin:72px auto 132px;
    position: relative;
    background: url("../images/index/cont02-back.png") repeat;
    padding:50px 0 0;
    @media only screen and (max-width: 1365px){
      padding:70px 0;
      margin:0 auto;
    }
    article.flex01{
      @include flex(space-between,center,justify,center);
      div.left{
        border: 2px solid #e5dacd;
        padding:5px;
        background: #fff;
        @include basis(370px,385px,100%,0,0);
        @media only screen and (max-width: 1365px){
          margin:0 auto;
        }
        img{
          width: 100%;
        }
      }
      div.right{
        border: 2px solid #e5dacd;
        padding:5px;
        @include basis(770px,100%,100%,30px,20px);
        img{
          width: 100%;
        }
      }
    }
    article.flex02{
      @include flex(space-between,stretch,justify,stretch);
      @include margin2(50px,0);
      div.left{
        @include basis(50%,100%,100%,0,0);
        padding:0 15px;
        article.list{
          padding:0 20px;
          max-width: 555px;
          margin:0 auto;
          a{
            font-size: 1.4rem;
            padding:30px 0;
            color: #907758;
            border-bottom: 1px dashed #907758;
            span{
              display: block;
              color: #009b69;
              font-size: 1.4rem;
            }
          }
        }
      }
      div.right{
        @include basis(50%,100%,100%,30px,20px);
        padding:0 15px;
        p.b-banner{
          margin-top: 30px;
        }
        article.list{
          padding:0 20px;
          max-width: 555px;
          margin:0 auto;
          a{
            @include flex(space-between,center,justify,center);
            border-bottom: 1px dashed #907758;
            padding:12.5px 0;
            p{
              font-size: 1.4rem;
              color: #907758;
              span{
                display: block;
                color: #009b69;
                font-size: 1.4rem;
              }
            }
            p.left{
              @include basis(122px,122px,25%,0,0);
            }
            p.right{
              @include basis(373px,373px,70%,0,0);
            }
          }
        }
      }
    }
    a.more{
      @include margin2(30px,0);
    }
  }
  section.cont02::before{
    content:"";
    background: url("../images/index/cont02-top.png") no-repeat;
    background-position: center bottom;
    background-size: auto 100%;
    position: absolute;
    width: 100%;
    height: 73px;
    top: -73px;
    left: 0;
    @media only screen and (min-width: 1921px){
      height: 100px;
      background-size: cover;
      top: -100px;
    }
    @media only screen and (max-width: 1365px){
      display: none;
    }
  }
  section.cont02::after{
    content:"";
    background: url("../images/index/cont02-bottom.png") no-repeat;
    background-position: center top;
    background-size: auto 100%;
    position: absolute;
    width: 100%;
    height: 132px;
    bottom: -132px;
    left: 0;
    @media only screen and (min-width: 1921px){
      height: 100px;
      background-size: cover;
      height: 190px;
      bottom: -190px;
    }
    @media only screen and (max-width: 1365px){
      display: none;
    }
  }
  section.cont03{
    @include padding(70px,0,85px);
    article.flex01{
      @include flex(space-between,center,justify,center);
      div.left{
        border: 2px solid #e5dacd;
        padding:5px;
        background: #fff;
        @include basis(370px,385px,100%,0,0);
        @media only screen and (max-width: 1365px){
          margin:0 auto;
        }
        img{
          width: 100%;
        }
      }
      div.right{
        border: 2px solid #e5dacd;
        padding:5px;
        @include basis(770px,100%,100%,30px,20px);
        img{
          width: 100%;
        }
      }
    }
    article.flex02{
      @include flex(space-between,flex-start,justify,start);
      @include margin2(50px,0);
      @media only screen and (max-width: 1365px){
        max-width: 555px;
      }
      div.left{
        @include basis(50%,100%,100%,0,0);
        h3{
          margin-bottom: 20px;
        }
        p.img{
          @include margin2(0,30px);
        }
        p.img:last-of-type{
          @include margin2(0,0);
        }
      }
      div.right{
        @include basis(50%,100%,100%,30px,20px);
        h3{
          margin-bottom: 20px;
        }
        p.map{
          line-height: .6em;
          @media only screen and (min-width: 1366px){
            padding:0 15px;
          }
        }
        p.img{
          @include margin2(30px,0);
        }
      }
    }
  }
}
