div.information{
  nav.page-nav{
    @include flex(space-between,center,justify,center);
    a{
      @include basis(48%,48%,48%,15px,15px);
      margin-top: 15px;
      padding:8px 10px 5px;
      background: #fff;
      border: 1px solid #907758;
      color: #907758;
      text-align: center;
    }
  }
  section{
    @include margin2(80px,0);
    h2{
      @include margin2(0,50px);
    }
  }
  section.cont01{
    article.block{
      padding:30px;
      h3{
        font-weight: normal;
        color: #009b69;
        font-size: 2rem;
        text-align: center;
      }
      p.text{
        text-align: center;
      }
    }
    article.block:nth-of-type(2n-1){
      background: #fff;
    }
    > p.text{
      text-align: right;
      margin-top: 20px;
    }
    > p.text2{
      text-align: center;
      margin: 20px auto;
      color: #a17238;
    }
    article.link-block{
      padding:30px;
      background: #fff;
      margin-top: 20px;
      p.text{
        margin-bottom: 15px;
      }
      div.flex{
        @include flex(space-between,center,justify,center);
        a{
          @include basis(47.5%,47.5%,100%,0,10px);
          color: #907758;
          text-align: center;
          background: #f8f7f3;
          border: 1px solid #f2f1f0;
          padding:10px;
        }
      }
      div.flex:nth-of-type(1){
        padding-bottom: 20px;
        margin-bottom: 15px;
      }
    }
  }
  section.cont02{
    article.block{
      background: #fff;
      padding:30px;
      div.flex{
        @include flex(space-between,center,justify,center);
        padding:30px 0;
        border-bottom: 1px solid #d0d0d0;
        p.left{
          @include basis(47.5%,47.5%,100%,0,0);
        }
        a.right{
          @include basis(47.5%,47.5%,100%,30px,20px);
          color: #907758;
          text-align: center;
          background: #f8f7f3;
          border: 1px solid #f2f1f0;
          padding:10px;
        }
      }
      div.flex:last-of-type{
        border-bottom: none;
      }
    }
  }
}
