.license{
  .headerinner{
    .headermenu{
      .bordercheck:nth-child(3){
        position: relative;
        &::after{
          content: "";
          width: 100%;
          height: 8px;
          background: $color8;
          @include absoluteCenterX;
          bottom: 0;
        }
      }
    }
  }
}
//----------------------------------------------------------------

.licenseplan{
  .explain{
    .accordion{
      margin-bottom: 32px;
      @include sp{
        margin-bottom: 24px;
      }
      .accordionhead{
        width:100%;
        padding-left: 0;
        h4{
          font-size: 20px;
          @include lg{
            font-size: 2.4rem;
          }
          @include sp{
            font-size: 2.0rem;
          }
          @include xs{
            font-size: 1.8rem;
          }
        }
      }
      .accordioninner{
        padding-bottom: 0;
      }
    }
    .caution{
      padding: 56px 0 ;
      @include sm{
        padding-top: 0;
        padding-bottom: 32px;
      }
      @include lg{
        padding-bottom: 40px;
      }
      @include sp{
        padding-bottom: 32px;
      }
    }
  }
}
.request{
  padding-top: 24px;
  padding-bottom: 56px;
  @include lg{
    padding-top: 0;
    padding-bottom: 40px;
  }
  @include sp{
    padding-bottom: 32px;
  }
  .box{
    padding: 0;
    padding-bottom: 56px;
    @include lg{
      padding-bottom: 40px;
    }
    @include sp{
      padding-bottom: 32px;
    }
    p{
      padding-left: 16px;
    }
  }
  .box:last-of-type{
    padding-bottom: 0;
  }
}
.formbox{
  .privacy{
    padding: 24px;
    box-shadow: 0 0 20px #C3C3C3;
    border-radius: 20px;
    @include sp{
      padding: 16px;
    }
    .privacyinner{
      max-width: 100%;
      width: 100%;
      height: 460px;
      overflow-x: hidden;
      .some{
        padding-bottom: 40px;
        @include lg{
          padding-bottom: 32px;
        }
        @include sp{
          padding-bottom: 24px;
        }
        .title{
          @extend .subtitle;
          font-size: 20px;
          line-height: 1.6em;
          color: $color2;
          padding-bottom: 24px;
          @include sp{
            padding-bottom: 16px;
          }
        }
        .inner{
          padding: 0;
          line-height: 1.6em;
        }
        .list li {
          line-height: 1.6em;
          padding-bottom: 8px;
        }
      }
    }
    ::-webkit-scrollbar{
      width: 5px;
    }
    ::-webkit-scrollbar-track{
      background: $color3;
      border: none;
      border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb{
      background: #ccc;
      border-radius: 10px;
      box-shadow: none;
    }
  }
  .formcheck{
    padding-top: 56px;
    @include lg{
      padding-top: 40px;
    }
    @include sp {
      padding-top: 32px;
    }
    .check{
      text-align: center;
      display: flex;
      align-items: center;
      color: $color1;
      justify-content: center;
    }
    .checkboxinput{
      display: none;
    }
    .checkbtn{
      padding-left: 40px;
      position:relative;
      display: flex;
      align-items: center;
      justify-content: center;
      @include sp{
        padding-left: 30px;
      }
    }
    .checkbtn::before{
      content: "";
      display: block;
      position: absolute;
      top: 15%;
      left: 0;
      width: 30px;
      height: 30px;
      border: 1px solid #999;
      @include sp{
        width: 20px;
        height: 20px;
        top: 25%;
      }
    }
    .checkboxinput:checked + .checkbtn{
      color: $color2;
    }
    .checkboxinput:checked + .checkbtn::after{
      content: "";
      display: block;
      position: absolute;
      top: 15%;
      left: 0;
      width: 30px;
      height: 30px;
      background: $color2;
    }
    .formbtn {
      display: flex;
      align-items: center;
      justify-content: center;
      input#submit {
        @extend .text;
        height: 72px;
        border: none;
        width: 400px;
        border: none;
        background: $color2;
        border-radius: 100px;
        color: $color7;
        font-size: 2.0rem;
        line-height: 1.2em;
        @include sp{
          width: 300px;
          height: 56px;
        }
      }
      input#submit:disabled{
        border: 1px solid $color2;
        background: $color7;
        color: $color2;
      }
      input#submit:focus {
        outline: 0;
      }
    }
  }
}
