.opening{
  .ostext{
    @extend .text;
    padding-top: 16px;
    @include sm{
      padding-top: 0;
    }
  }
  .downbtn{
    padding-top: 32px;
    @include sm{
      padding-top: 24px;
    }
  }
}
.operationtext{
  padding-bottom: 56px;
  @include sm{
    padding-bottom: 32px;
  }
}


.flow{
  .accordion{
    margin-bottom: 80px;
    position: relative;
    @include sm{
      margin-bottom: 56px;
    }
    @include sp{
      margin-bottom: 32px;
    }
    &::after{
      content: '';
      width: 50px; /* 影をつけるために線幅で設定せずにboxを使用する */
      height: 50px;
      background: $color7; /* 吹き出しの地と同じ色 */
      transform: rotate(45deg);
      position: absolute;
      bottom: -25px;
      left: 50%;
      box-shadow: 6px 6px 10px rgba(0,0,0,0.08);
      @include sm{
        width: 30px;
        height: 30px;
        bottom: -15px;
      }
      @include sp{
        width: 24px;
        height: 24px;
        bottom: -11px;
      }
    }
    .accordionhead{
      h4{
        @include lg{
          text-align: left;
          font-size: 2.4rem;
        }
        @include sp{
          font-size: 2.0rem
        }
        @include xs{
          font-size: 1.8rem;
        }
        .logoname{
          @include sp{
            font-size: 1.8rem;
          }
        }
      }
    }
    .accordioninner{
      padding-bottom: 8px;
      .methodimg{
        padding-bottom: 40px;
        line-height: 0;
        @include lg{
          padding-bottom: 32px;
        }
        @include sp{
          padding-bottom: 24px;
        }
        img{
          width: 100%;
        }
      }
      .caption{
        font-size: 2.0rem;
        padding-bottom: 32px;
        @include lg{
          padding-bottom: 24px;
          font-size: 1.8rem;
        }
        @include sp{
          padding-bottom: 20px;
          font-size: 1.6rem;
        }
      }
      .methodtext{
        padding-bottom: 40px;
        @include lg{
          padding-bottom: 32px;
        }
        @include sp{
          padding-bottom: 24px;
        }
      }
      .methodpic{
        padding-bottom: 40px;
        @include lg{
          padding-bottom: 32px;
        }
        @include sp{
          padding-bottom: 24px;
        }
        .pictitle{
          text-align: center;
          padding-bottom: 24px;
          color:$color2;
          line-height: 1.6em;
          font-size: 2.0rem;
          @extend .subtitle;
          @include lg{
            text-align: left;
            font-size: 1.8rem;
          }
          @include sp{
            font-size: 1.6rem;
          }
        }
        p{
          text-align: center;
          @include lg{
            text-align: left;
          }
        }
      }
      .list{
        padding-bottom: 40px;
      }
      .methodsubtitle{
        text-align: center;
        @extend .subtitle;
        padding-bottom: 40px;
        font-size: 2.0rem;
        line-height: 1.6em;
        color: $color2;
        @include lg{
          font-size: 1.8rem;
        }
        @include sp{
          font-size: 1.6rem;
        }
      }
      .jumpbtn{
        padding-top: 0;
        padding-bottom: 40px;
      }
    }
  }
  .accordion:last-of-type{
    margin-bottom: 0;
  }
  .accordion:last-of-type{
    &::after{
      display: none;
    }
  }
}
