div.news-list{
  nav.page-nav{
    @include flex(space-between,center,justify,center);
    @include margin2(0,50px);
    a{
      @include basis(48%,48%,100%,0,15px);
      padding:18px 15px 13px;
      border: 1px solid #a17238;
      text-align: center;
      color: #a17238;
      background: #fff;
      line-height: 1em;
    }
  }
  section.cont01{
    @include margin2(0,80px);
    h2{
      @include margin2(0,50px);
    }
    article.list{
      a{
        font-size: 1.4rem;
        padding:20px 0;
        color: #907758;
        border-bottom: 1px dashed #907758;
        p.tag{
          color: #009b69;
        }
        p.title{
          color: #907758;
        }
      }
    }
    a.more{
      width: 280px;
      margin:30px auto 0;
      background: #907758;
      color: #fff;
      padding:18px 15px 13px;
      text-align: center;
    }
  }
  section.cont02{
    h2{
      @include margin2(0,30px);
    }
    article.list{
      @include flex(flex-start,flex-start,start,start);
      a{
        margin-top: 20px;
        @include basis(32%,49%,100%,20px,15px);
        background: #fff;
        p.img{
          img{
            width: 100%;
          }
        }
        p.title{
          padding:10px 10px 0;
          color: #009b69;
          line-height: 1.5em;
        }
        p.date{
          padding:0 10px 10px;
          font-size: 1.4rem;
          line-height: 1.5em;
          color: #907758;
        }
      }
      @media only screen and (min-width: 1366px){
        a:nth-of-type(3n-1){
          margin-left:2%;
          margin-right:2%;
        }
      }
      @media only screen and (max-width: 1365px) and (min-width: 768px){
        a:nth-of-type(2n){
          margin-left: 2%;
        }
      }
    }
    a.more{
      width: 280px;
      margin:30px auto 0;
      background: #907758;
      color: #fff;
      padding:18px 15px 13px;
      text-align: center;
    }
  }
}
div.single-post{
  article.top{
    @include padding(30px,0,30px);
    border-top: 1px solid #907758;
    border-bottom: 1px solid #907758;
    @include margin2(0,50px);
    h2{
      color: #009b69;
      font-size: 2.4rem;
      font-weight: normal;
    }
    p.tag{
      font-size: 1.4rem;
      color: #907758;
    }
  }
  article.content-wrap{
    img{
      margin:10px auto;
    }
  }
}
