div.archive-news{
  section.cont1{
    @include padding(120px,0,120px);
    background-color: $back;
    article.search-box{
      position: relative;
      &::before{
        content:"";
        height: 50%;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #fff;
      }
      ul{
        @include flex(space-between,center,justify,center);
        position: relative;
        z-index: 1;
        max-width: 660px;
        margin-left: auto;
        margin-right: 0;
        @media only screen and (min-width: 768px){
          transform: translateX(50px);
        }
        li{
          @include basis(calc(50% - 15px),calc(50% - 15px),100%,0,0);
          padding:0;
          label{
            display: block;
          }
          select{
            width: 100%;
            outline: none;
            color: #fff;
            border-radius: 0;
            padding:30px;
          }
          &:first-of-type{
            select{
              background-color: $demi-second;
            }
          }
          &:last-of-type{
            select{
              background-color: $second;
            }
          }
        }
      }
    }
    article.white-back{
      background-color: #fff;
      @include padding2(100px,100px,100px);
      div.single{
        padding:30px 0;
        border-bottom: 1px solid $gborder;
        &:first-of-type{
          border-top: 1px dotted $second;
        }
        a{
          @include flex(space-between,center,justify,center);
        }
        p.date{
          @include basis2(80px,80px,80px,0,0);
          font-size: 1.2rem;
        }
        p.tag{
          @include basis2(150px,150px,calc(100% - 105px),0,0);
          background-color: $demi-second;
          text-align: center;
          padding:5px;
          color: #fff;
          border-radius: 20px;
          font-size: 1.2rem;
          @media only screen and (max-width: 1365px){
            margin-left: 15px;
            margin-right: auto;
          }
        }
        p.title{
          @include basis2(500px,calc(100% - 210px),100%,10px,10px);
        }
        p.more{
          @include basis2(160px,160px,100%,10px,10px);
          transition: ease .5s all;
          color: $gborder;
          text-align: right;
          transform: translateX(-30px);
        }
        &:hover{
          p.more{
            color: $second;
            transform: translateX(0);
          }
        }
      }
    }
  }
}

div.single-news{
  section.cont1{
    background-color: $back;
    @include padding(80px,0,80px);
    h2{
      @include fontsize(3rem,3rem,2.4rem);
      line-height: 1.2em;
    }
    p.date{
      color: $second;
      margin-top: 20px;
    }
  }
  section.cont2{
    background-color: $back;
    @include padding(0,0,80px);
    article.white-box{
      @include padding2(100px,100px,100px);
      background-color: #fff;
      div.flex{
        margin-bottom: 50px;
        @include flex(space-between,center,justify,center);
        p.tag{
          @include basis3(150px,150px,150px,0,0);
          background-color: $demi-second;
          color: #fff;
          padding:5px;
          text-align: center;
          color: #fff;
          font-size: 1.2rem;
          border-radius: 15px;
        }
      }
    }
    article.pn{
      @include flex(space-between,stretch,justify,stretch);
      margin-top: 30px;
      div{
        @include basis3(460px,calc(50% - 15px),calc(50% - 15px),0,0);
        a{
          @include flex(space-between,center,justify,center);
        }
        p.arrow{
          @include basis2(35px,35px,35px,0,0);
          background-color: $gborder;
          height: 35px;
          @include flex(center,center,center,center);
          color: $second;
          border-radius: 18px;
        }
        p.text{
          @include basis(calc(100% - 65px),calc(100% - 50px),100%,0,0);
          span{
            display: block;
            color: $second;
          }
        }
      }
    }
  }
}
