.privacypolicy {
  section{
    p {
      padding-left: 16px;
      @include lg{
        padding-left: 0px;
      }
      padding-bottom: 56px;
      @include lg{
        padding-bottom: 40px;
      }
      @include sp{
        padding-bottom: 32px;
      }
    }
    ul{
      padding-left: 16px;
      padding-bottom: 24px;
      @include lg{
        padding-bottom: 16px;
      }
    }

    h1 {
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 56px;
      @include lg{
        padding-bottom: 40px;
      }
      @include sp{
        padding-bottom: 32px;
      }
    }

    h2{
      line-height: 1.6em;
    }

    p.content1 {
      padding-bottom: 24px;
      @include lg{
        padding-bottom: 16px;
      }
    }

    p.content2 {
      padding-bottom: 0px;
      }
    }
  }

.box {
  width: 100%;
  display: block;
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
