.ranking{
  h3{
    padding-bottom: 56px;
    font-size: 2.4rem;
    @include lg{
      font-size: 2.0rem;
    }
    @include sp{
      font-size: 1.8rem;
    }
  }
  .tableinner{
    table.codetable{
      width: 100%;
      margin: 0 auto;
      border-radius: 20px;
      box-shadow: 0 0 20px #C3C3C3;
      border-collapse: collapse;
      border-spacing: 0;
      @include sm {
        border-radius: 0;
        box-shadow: none;
        border: none;
      }
      thead{
        border-bottom: 1px solid $color5;
        tr{
          justify-content: space-between;
          padding: 24px 20px;
          th:first-child{
            max-width: 180px;
            width: 100%;
            padding-left: 0;
            @include xl{
              max-width: 100px;
            }
          }
          th{
            width: 100%;
            color: $color2;
            display: flex;
            justify-content: flex-start;
            padding: 0 10px;
          }
          th:last-child{
            padding-right: 0;
            @include xl{
              max-width: 200px;
            }
          }
        }
      }
      tbody{
        @include sm{
          display: flex;
          flex-wrap: wrap;
          @include sm{
            justify-content: center;
          }
        }
        tr{
          display:flex;
          width: 100%;
          align-items: center;
          padding: 16px 20px;
          border-bottom: 1px solid $color5;
          @include sm{
            flex-direction: column;
            padding: 0;
            margin: 0 5px;
            margin-bottom: 16px;
            border: 1px solid $color5;
            max-width: 350px;
          }
          @include sp{
            margin: 0;
            margin-bottom: 8px;
          }
          td:first-child{
            max-width: 180px;
            width: 100%;
            padding-left: 0;
            @include xl{
              max-width: 100px;
            }
            @include sm{
              max-width: 100%;
              padding: 0 10px;
              background: $color3;
            }
            @include xs{
              padding: 10px;
            }
          }
          td{
            width: 100%;
            padding: 0 10px;
            @include lg{
              font-size: 1.8rem;
            }
            @include sm{
              font-size: 1.4rem;
              padding: 0;
              display: flex;
              align-items: center;
              padding: 0 10px;
              height: 60px;
              border-bottom: 0.5px solid $color1;
            }
            @include xs{
              font-size: 1.6rem;
              flex-direction: column;
              align-items: center;
              padding: 10px;
              justify-content: center;
              height: auto;
            }
            span{
              color: $color2;
              width: 150px;
              @include xs{
                width: 100%;
                text-align: center;
              }
            }
          }
          td:last-child{
            padding-right: 0;
            @include xl{
              max-width: 200px;
            }
            @include sm{
              max-width: 100%;
              padding: 0 10px;
              border: none;
            }
            @include xs{
              padding: 10px;
            }
          }
        }
        tr:nth-child(even){
          background: $color3;
          @include sm{
            background: none;
          }
        }
        tr:last-child{
          border-bottom: none;
          border-radius: 0px 0px 20px 20px;
          @include sm{
            border-bottom: 0.5px solid $color1;
            border-radius: 0;
          }
        }
      }
    }
  }
}
