div.recruit {
    // バナースタイル
    .r_bn {
        width: 100%;
        margin: 80px 0 50px;
        text-align: center;
        @media only screen and (max-width: 767px) {
            margin: 25px 0 25px;
        }
        a:hover {
            opacity: 0.8;
        }
    }
    nav.page-nav {
        @include flex(space-between, center, justify, center);
        a {
            @include basis(48%, 48%, 48%, 15px, 15px);
            margin-top: 15px;
            padding: 8px 10px 5px;
            background: #fff;
            border: 1px solid #907758;
            color: #907758;
            text-align: center;
        }
    }
    section {
        @include margin2(50px, 0);
        h2 {
            @include margin2(0, 50px);
        }
    }
    section.cont01 {
        p.text {
            color: #85692a;
        }
        // p.img {
        // 	margin-bottom: 20px;
        // }
        article.block {
            padding: 30px;
            @include flex(space-between, center, justify, center);
            margin-top: 20px;
            background: #fff;
            p.img {
                @include basis(240px, 240px, 100%, 0, 0);
                img {
                    @media only screen and (max-width: 767px) {
                        width: 100%;
                    }
                }
            }
            p.text {
                @include basis(470px, 408px, 100%, 0, 20px);
                font-size: 1.4rem;
            }
        }
    }
    section.cont02 {
        ul.system {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            li {
                max-width: calc(50% - 15px);
                width: 100%;
                padding-bottom: 15px;
                @media only screen and (max-width: 767px) {
                    max-width: 100%;
                    padding-bottom: 10px;
                }
                @media only screen and (max-width: 375px) {
                    max-width: 100%;
                    padding-bottom: 5px;
                }
                &:nth-child(3),
                 :last-child {
                    padding-bottom: 0;
                    @media only screen and (max-width: 767px) {
                        padding-bottom: 10px;
                    }
                    @media only screen and (max-width: 375px) {
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
    section.cont03 {
        article.list {
            border-top: 1px solid #a59370;
            border-bottom: 1px solid #a59370;
            dl {
                @include flex(space-between, stretch, justify, stretch);
                border-bottom: 1px solid #d0d0d0;
                dt {
                    text-align: center;
                    color: #a59370;
                    padding: 20px 15px;
                    background: #f0e7d5;
                    @include basis(240px, 240px, 100%, 0, 0);
                    font-weight: bold;
                    @include flex(center, center, center, center);
                }
                dd {
                    background: #fff;
                    padding: 20px 15px;
                    @include basis(560px, 498px, 100%, 0, 0);
                }
            }
        }
    }
    section.cont04 {
        form>ul {
            @include margin2(0, 50px);
            border-top: 1px solid #009b69;
        }
        form>ul>li {
            @include flex(flex-start, stretch, start, stretch);
            border-bottom: 1px solid #dcdcdc;
            p.left {
                @include basis(240px, 240px, 100%, 0, 0);
                @include padding(30px, 30px, 30px);
                text-align: center;
                color: #85692a;
                span {
                    line-height: 1.4em;
                    font-size: 1.4rem;
                    margin-left: 3px;
                    color: #85692a;
                    font-weight: normal;
                }
            }
            p.right {
                @include basis(560px, 498px, 100%, 0, 0);
                @include padding(30px, 30px, 30px);
            }
        }
        form>ul>li:last-of-type {
            border-bottom: 1px solid #009b69;
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
            width: 100%;
            padding: 5px;
            display: block;
            border: 1px solid #dcdcdc;
            border-radius: 5px;
            background: #fff;
        }
        div.privacy {
            padding: 30px;
            height: 250px;
            overflow-y: scroll;
            @include margin2(50px, 10px);
            border: 1px solid #dcdcdc;
            border-radius: 8px;
            background: #fff;
            h3 {
                margin-bottom: 30px;
            }
            span {
                display: block;
                margin-top: 20px;
                color: #009b69;
                font-weight: bold;
            }
        }
        .check {
            text-align: center;
            margin: 30px auto;
            input {
                margin-right: 8px;
            }
        }
        .send {
            text-align: center;
            p.send-button {
                margin: 0 auto 20px;
                input {
                    max-width: 360px;
                    background: #009b69;
                    text-align: center;
                    color: #fff;
                    padding: 10px 30px;
                    width: 100%;
                }
            }
        }
    }
}