.support{
  .headerinner{
    .headermenu{
      .bordercheck:nth-child(4){
        position: relative;
        &::before{
          content: "";
          width: 100%;
          height: 8px;
          background: $color8;
          @include absoluteCenterX;
          bottom: 0;
        }
      }
    }
  }
}
//------------------------------------------------------------------

.mainscreen,.tracking,.other,.term{
  .accordion{
    margin-bottom: 40px;
    .accordionhead{
      padding-left: 0;
    }
  }
  .accordion:last-child{
    margin-bottom: 0;
  }
}
