div.schedule{
  nav.page-nav{
    @include flex(space-between,center,justify,center);
    a{
      @include basis(48%,48%,48%,15px,15px);
      margin-top: 15px;
      padding:8px 10px 5px;
      background: #fff;
      border: 1px solid #907758;
      color: #907758;
      text-align: center;
    }
  }
  section{
    @include margin2(80px,0);
    h2{
      @include margin2(0,50px);
    }
  }
  section.cont01{
    article.flex{
      @include margin2(50px,0);
      @include flex(space-between,flex-start,justify,start);
      > div{
        @include basis(50%,50%,100%,0,0);
        dl{
          @include flex(flex-start,stretch,justify,stretch);
          dt{
            @include basis(20%,30%,30%,0,0);
            padding:8px;
            text-align: center;
          }
          dd{
            padding:8px;
            @include basis(80%,70%,70%,0,0);
          }
        }
        dl:first-of-type{
          > *{
            font-weight: bold;
          }
        }
      }
      div.left{
        dl{
          dt{
            background: #b2d3cb;
            color: #009b69;
          }
        }
        dl:first-of-type{
          dd{
            color: #009b69;
            text-align: center;
          }
        }
      }
      div.right{
        dl{
          dt{
            background: #d9c2a8;
            color: #907758;
          }
        }
        dl:first-of-type{
          dd{
            color: #907758;
            text-align: center;
          }
        }
      }
    }
  }
  section.cont02{
    article.box{
      background: #fff;
      padding:30px;
      ul{
        @include flex(space-between,stretch,justify,stretch);
        li{
          @include basis(47.5%,47.5%,100%,0,0);
          @include flex(flex-start,center,start,center);
          p.left{
            @include basis(20%,20%,20%,0,0);
            background: url("../images/schedule/calendar.png") no-repeat;
            background-position: center;
            text-align: center;
            color: #009b69;
            padding:21px 0 8px;
            font-size: 1.4rem;
            font-weight: bold;
          }
          p.right{
            @include basis(80%,80%,80%,0,0);
            padding:8px 15px;
            font-size: 1.4rem;
          }
        }
        li:nth-of-type(4n),li:nth-of-type(4n-1){
          background: #c1dbd5;
        }
      }
    }
    article.flex2{
      background: #fff;
      @include flex(space-between,center,justify,center);
      padding:0 30px 30px;
      p.left{
        @include basis(47.5%,47.5%,100%,0,0);
      }
      a.right{
        @include basis(47.5%,47.5%,100%,30px,20px);
        color: #907758;
        text-align: center;
        background: #f8f7f3;
        border: 1px solid #f2f1f0;
        padding:10px;
      }
    }
    article.flex3{
      @include flex(space-between,stretch,justify,stretch);
      div.single{
        @include basis(31%,31%,48%,30px,20px);
        margin-top:30px;
        background: #fff;
        p.midashi{
          padding:0 15px;
          font-weight: bold;
          margin-top: 10px;
          line-height: 1.4em;
          margin-bottom: 8px;
        }
        p.text{
          padding:0 15px 15px;
          font-size: 1.4rem;
          line-height: 1.8em;
        }
      }
    }
  }
  section.cont03{
    > p.text{
      text-align: center;
      color: #907758;
    }
    article.box{
      margin-top: 30px;
      padding:30px;
      background: #fff;
      li{
        border-bottom: 1px solid #d0d0d0;
        padding:15px 0;
        @include flex(space-between,stretch,justify,stretch);
        div.left{
          @include basis(50%,50%,100%,0,0);
          padding:0 15px;
          p.midashi{
            font-weight: bold;
          }
          p.text{
            font-size: 1.4rem;
            line-height: 1.8em;
          }
        }
        p.right{
          @include basis(50%,50%,100%,0,20px);
          padding:0 15px;
        }
      }
      li:last-of-type{
        border-bottom: none;
      }
    }
  }
  section.cont04{
    article.flex{
      @include flex(space-between,stretch,justify,stretch);
      div.left{
        @include basis(47.5%,47.5%,100%,0,0);
        p.text{
          color: #907758;
          font-size: 1.5rem;
        }
      }
      div.img{
        @include basis(47.5%,47.5%,100%,30px,20px);
        .slick-dots{
          bottom: -30px;
        }
        .slick-dots li button:before
        {
            color: #907758;
        }
        .slick-dots li.slick-active button:before
        {
            color: #907758;
        }
        a.link{
          margin-top: 60px;
          text-align: center;
          color: #fff;
          padding:15px 10px 10px;
          line-height: 1em;
          background: #009b69;
        }
      }
    }
  }
}
