.software{
  .box{
    padding-bottom: 56px;
    @include lg{
      padding-bottom: 40px;
    }
    @include sp{
      padding-bottom: 32px;
    }
    .softtitle{
      line-height: 1.6em;
    }
    .intext{
      padding-left: 16px;
    }
    .list{
      padding-left: 16px;
      @include lg{
        padding-left: 0px;
      }
    }

    .contactlink{
      font-size: 2.4rem;
      text-align: center;
      color: $color2;
      @include lg{
        font-size: 2.0rem;
      }
      @include sp{
        font-size: 1.8rem;
      }
    }
    .box:last-of-type{
      padding-bottom: 0px;
    }
  }
}
.content1{
  padding-left: 16px;
  padding-right: 16px;
}
