.try{
  .headerinner{
    .headermenu{
      .bordercheck:nth-child(2){
        position: relative;
        &::after{
          content: "";
          width: 100%;
          height: 8px;
          background: $color8;
          @include absoluteCenterX;
          bottom: 0;
        }
      }
    }
  }
}


.trial{
  .trymenu{
    width: 100%;
    h2 .title-logo{
      margin: 0;
    }
    ul.btnlist {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 40px;
      @include sm{
        flex-direction: column;
      }
      li{
        max-width: 254px;
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px 0;
        border-radius: 8px;
        box-shadow: 0 0 20px #C3C3C3;
        @include xl{
          max-width: 300px;
          margin: 0 8px;
        }
        @include sm{
          margin-bottom: 24px;
        }
        p{
          font-size: 2.4rem;
          line-height: 1em;
          @include sp{
            font-size: 1.6rem;
          }
        }
      }
    }
  }
  a{
    display: flex;
    align-items: center;
    .linkbtn{
      width: 56px;
      height: 16px;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      background-image: url(../images/svg/trial/triangle.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      &::before{
        content: "";
        width: 18px;
        height: 16px;
        background-image: url(../images/svg/trial/triangle.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }
      &::after{
        content: "";
        width: 18px;
        height: 16px;
        background-image: url(../images/svg/trial/triangle.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  .flexfree{
    width: 100%;
    height: calc(100% - 67px);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    @include lg{
      height: calc(100% - 61px);
    }
    @include sm{
      height: auto;
    }
    .jumpbtn{
      max-height: 50px;
      padding: 0;
      height: 100%;
      @include sm{
        margin-top: 40px;
      }
      @include sp{
        max-height: 56px;
      }
    }
  }
  .first{
    background-image: url(./../images/svg/trial/number_01.svg);
    background-position: bottom right;
  }
  .second{
    background-image: url(./../images/svg/trial/number_02.svg);
    background-position: bottom right;
  }
  .third{
    background-image: url(./../images/svg/trial/number_03.svg);
    background-position: bottom right;
  }
  .fourth{
    background-image: url(./../images/svg/trial/number_04.svg);
    background-position: bottom right;
  }

  .first,
  .second,
  .third,
  .fourth{
    width: 100%;
    background-repeat: no-repeat;
    padding-left: 40px;
    @include lg{
      max-width: 800px;
    }
    @include sm{
      padding: 0;
      max-width: 600px;
      background: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      background-image: none;
    }
    ul.list.nodot{
      width: 100%;
    }
  }
}
