div.about{
  section.mv{
    padding-top: 0;
    &::before{
      @media only screen and (max-width: 767px){
        height: 80%;
      }
    }
    p.img{
      @include margin2(0,80px);
    }
    article.flex{
      @include flex(space-between,stretch,justify,stretch);
      h3{
        @include fontsize(3.2rem,3.2rem,2.4rem);
        @include basis(calc(50% - 50px),calc(40% - 25px),100%,0,0);
        line-height: 1.2em;
        font-family: "fot-tsukubrdgothic-std";
        font-weight: bold;
        padding-bottom: 30px;
        position: relative;
        &::before{
          content:"";
          height: 2px;
          background-color: $base;
          width: 80px;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        span{
          @include fontsize(1.8rem,1.8rem,1.8rem);
          display: block;
          margin-top: 5px;
          color: $second;
          font-weight: normal;
          font-family:'Osaka', Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "メイリオ" , Meiryo , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
        }
      }
      p.text{
        @include basis3(calc(50% - 50px),calc(60% - 25px),100%,0,30px);
      }
    }
  }
  section.cont1{
    @include padding(100px,0,100px);
    article.single{
      @include flex(space-between,stretch,justify,stretch);
      @include margin2(100px,0);
      &:first-of-type{
        @include margin2(0,0);
      }
      div.text-box{
        @include basis(50%,50%,100%,0,0);
        @include flex(flex-start,center,flex-start,center);
        background-size: contain !important;
        padding-left: 75px;
        padding-right: 130px;
        @media only screen and (max-width: 1365px){
          padding-left: 35px;
          padding-right: 70px;
        }
        @media only screen and (max-width: 767px){
          padding-left: 0;
          padding-right: 0;
        }
        h3{
          @include fontsize(3.2rem,3.2rem,2.4rem);
          @include basis(100%,100%,100%,0,0);
          line-height: 1.2em;
          font-family: "fot-tsukubrdgothic-std";
          font-weight: bold;
          padding-bottom: 30px;
          margin-bottom: 30px;
          position: relative;
          &::before{
            content:"";
            height: 2px;
            background-color: $base;
            width: 80px;
            position: absolute;
            bottom: 0;
            left: 0;
          }
          span{
            @include fontsize(1.8rem,1.8rem,1.8rem);
            display: block;
            margin-top: 5px;
            color: $second;
            font-weight: normal;
            font-family:'Osaka', Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "メイリオ" , Meiryo , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
          }
        }
      }
      p.img{
        @include basis3(50%,50%,100%,0,20px);
      }
      &:nth-of-type(2n){
        @media only screen and (min-width: 768px){
          -ms-flex-direction: row-reverse;
          -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse;
        }
        div.text-box{
          padding-left: 75px;
          padding-right: 130px;
          background-position: center right !important;
          @media only screen and (max-width: 1365px){
            padding-left: 35px;
            padding-right: 70px;
          }
          @media only screen and (max-width: 767px){
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
  section.cont2{
    position: relative;
    background-color: $back;
    @include padding(100px,0,0);
    &::before{
      content:"";
      width: 100%;
      height: 120px;
      @media only screen and (max-width: 767px){
        height: 40px;
      }
      bottom: 0;
      left: 0;
      background-color: #fff;
      position: absolute;
    }
    *{
      position: relative;
      z-index: 1;
    }
    article.flex{
      @include flex(space-between,flex-start,justify,start);
      div.left{
        @include basis(50%,40%,100%,0,0);
        padding-left: 75px;
        padding-right: 130px;
        @media only screen and (max-width: 1365px){
          padding-left: 35px;
          padding-right: 70px;
        }
        @media only screen and (max-width: 767px){
          padding-left: 0;
          padding-right: 0;
        }
        h3{
          @include fontsize(3.2rem,3.2rem,2.4rem);
          line-height: 1.2em;
          font-family: "fot-tsukubrdgothic-std";
          font-weight: bold;
          padding-bottom: 30px;
          margin-bottom: 30px;
          position: relative;
          &::before{
            content:"";
            height: 2px;
            background-color: $base;
            width: 80px;
            position: absolute;
            bottom: 0;
            left: 0;
          }
          span{
            @include fontsize(1.8rem,1.8rem,1.8rem);
            display: block;
            margin-top: 5px;
            color: $second;
            font-weight: normal;
            font-family:'Osaka', Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "メイリオ" , Meiryo , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
          }
        }
      }
      div.right{
        @include basis3(50%,60%,100%,0,30px);
        dl{
          padding:30px 0;
          border-bottom:1px solid $gborder;
          @include flex(space-between,stretch,justify,stretch);
          &:first-of-type{
            border-top: 1px solid $gborder;
          }
        }
        dt{
          @include basis(70px,70px,100%,0,0);
          color: $second;
          font-weight: bold;
        }
        dd{
          @include basis3(calc(100% - 120px),calc(100% - 100px),100%,0,10px);
          a.map{
            color: $second;
          }
        }
      }
    }
    p.img{
      @include margin2(80px,0);
    }
  }
}

div.working{
  section.mv{
    padding-top: 0;
    &::before{
      @media only screen and (max-width: 767px){
        height: 80%;
      }
    }
    p.img{
      @include margin2(0,80px);
    }
    article.flex{
      @include flex(space-between,stretch,justify,stretch);
      h3{
        @include fontsize(3.2rem,3.2rem,2.4rem);
        @include basis(calc(50% - 50px),calc(40% - 25px),100%,0,0);
        line-height: 1.2em;
        font-family: "fot-tsukubrdgothic-std";
        font-weight: bold;
        padding-bottom: 30px;
        position: relative;
        &::before{
          content:"";
          height: 2px;
          background-color: $base;
          width: 80px;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        span{
          @include fontsize(1.8rem,1.8rem,1.8rem);
          display: block;
          margin-top: 5px;
          color: $second;
          font-weight: normal;
          font-family:'Osaka', Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "メイリオ" , Meiryo , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
        }
      }
      p.text{
        @include basis3(calc(50% - 50px),calc(60% - 25px),100%,0,30px);
      }
    }
  }
  section.cont1{
    @include padding(100px,0,100px);
    article.single{
      @include flex(space-between,stretch,justify,stretch);
      @include margin2(100px,0);
      &:first-of-type{
        @include margin2(0,0);
      }
      div.text-box{
        @include basis(50%,50%,100%,0,0);
        @include flex(flex-start,center,flex-start,center);
        background-size: contain !important;
        padding-left: 75px;
        padding-right: 130px;
        @media only screen and (max-width: 1365px){
          padding-left: 35px;
          padding-right: 70px;
        }
        @media only screen and (max-width: 767px){
          padding-left: 0;
          padding-right: 0;
        }
        h3{
          @include fontsize(3.2rem,3.2rem,2.4rem);
          @include basis(100%,100%,100%,0,0);
          line-height: 1.2em;
          font-family: "fot-tsukubrdgothic-std";
          font-weight: bold;
          padding-bottom: 30px;
          margin-bottom: 30px;
          position: relative;
          &::before{
            content:"";
            height: 2px;
            background-color: $base;
            width: 80px;
            position: absolute;
            bottom: 0;
            left: 0;
          }
          span{
            @include fontsize(1.8rem,1.8rem,1.8rem);
            display: block;
            margin-top: 5px;
            color: $second;
            font-weight: normal;
            font-family:'Osaka', Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "メイリオ" , Meiryo , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
          }
        }
        p.text{
          span{
            font-weight: bold;
          }
        }
      }
      p.img{
        @include basis3(50%,50%,100%,0,20px);
      }
      &:nth-of-type(2n){
        @media only screen and (min-width: 768px){
          -ms-flex-direction: row-reverse;
          -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse;
        }
        div.text-box{
          padding-left: 75px;
          padding-right: 130px;
          background-position: center right !important;
          @media only screen and (max-width: 1365px){
            padding-left: 35px;
            padding-right: 70px;
          }
          @media only screen and (max-width: 767px){
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
  section.cont2{
    position: relative;
    background-color: $back;
    &::before{
      content:"";
      width: 100%;
      height: 240px;
      @media only screen and (max-width: 1365px){
        height: 120px;
      }
      top: 0;
      left: 0;
      background-color: #fff;
      position: absolute;
    }
    &::after{
      content:"";
      width: 100%;
      height: 25px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      position: absolute;
    }
    *{
      position: relative;
      z-index: 1;
    }
    article.img{
      @include flex(space-between,stretch,justify,stretch);
      @include margin2(0,80px);
      p.img{
        @include basis(calc(50% - 5px),calc(50% - 5px),100%,0,5px);
      }
    }
    article.flex{
      @include flex(space-between,flex-start,justify,start);
      @include margin2(0,80px);
      div.left{
        @include basis(50%,40%,100%,0,0);
        padding-left: 75px;
        padding-right: 130px;
        @media only screen and (max-width: 1365px){
          padding-left: 35px;
          padding-right: 70px;
        }
        @media only screen and (max-width: 767px){
          padding-left: 0;
          padding-right: 0;
        }
        h3{
          @include fontsize(3.2rem,3.2rem,2.4rem);
          line-height: 1.2em;
          font-family: "fot-tsukubrdgothic-std";
          font-weight: bold;
          padding-bottom: 30px;
          margin-bottom: 30px;
          position: relative;
          &::before{
            content:"";
            height: 2px;
            background-color: $base;
            width: 80px;
            position: absolute;
            bottom: 0;
            left: 0;
          }
          span{
            @include fontsize(1.8rem,1.8rem,1.8rem);
            display: block;
            margin-top: 5px;
            color: $second;
            font-weight: normal;
            font-family:'Osaka', Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "メイリオ" , Meiryo , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
          }
        }
      }
      div.right{
        @include basis3(50%,60%,100%,0,30px);
        dl{
          padding:30px 0;
          border-bottom:1px solid $gborder;
          @include flex(space-between,stretch,justify,stretch);
          &:first-of-type{
            border-top: 1px solid $gborder;
          }
        }
        dt{
          @include basis(80px,80px,100%,0,0);
          color: $second;
          font-weight: bold;
        }
        dd{
          @include basis3(calc(100% - 130px),calc(100% - 110px),100%,0,10px);
          a.map{
            color: $second;
          }
        }
      }
    }
    a.more{
      display: block;
      width: 100%;
      max-width: 320px;
      @media only screen and (max-width: 767px){
        max-width: 200px;
      }
      margin-left: auto;
      margin-right: 0;
      text-align: center;
      color: #fff;
      background-color: $second;
      padding:15px;
      z-index: 2;
      transform: translate(25px,0);
      transition: ease .3s all;
      &:hover{
        letter-spacing: .2em;
      }
    }
  }
}

div.contact{
  section.cont1{
    background-color: $back;
    @include padding(120px,0,120px);
    article.white-back{
      @include padding2(100px,100px,100px);
      background-color: #fff;
      p.text{
        text-align: center;
      }
      p.tell{
        color: $second;
        font-family: 'arial black';
        font-size: 2.4rem;
        letter-spacing: .1em;
        text-align: center;
        a{
          color: $second;
          font-family: 'arial black';
          font-size: 2.4rem;
          letter-spacing: .1em;
        }
      }
      dl{
        @include flex(space-between,stretch,justify,stretch);
        margin-top: 30px;
        &:first-of-type{

        }
        dt{
          @include basis(240px,200px,100%,0,0);
          position: relative;
        }
        dt.require::before{
          @include flex(center,center,center,center);
          content:"*";
          color: red;
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
        }
        dd{
          @include basis3(calc(100% - 342px),calc(100% - 232px),100%,0,15px);
          img{
            display: inline-block;
          }
        }
        input[type="text"],input[type="email"],textarea{
          border:1px solid $gborder;
          padding:5px;
          width: 100%;
        }
      }
      .wpcf7c-btn-confirm,.wpcf7-submit,.wpcf7-back{
        width: 100%;
        max-width: 320px;
        margin:20px auto 0;
        display: block;
        padding:15px 15px 13px;
        background-color: $second;
        color: #fff;
        text-align: center;
      }
      .wpcf7-back{
        background-color: $back;
        color: $base;
      }
      .ajax-loader{
        display: none;
      }
      div.privacy{
        margin: 30px auto 20px;
        height: 200px;
        padding:30px;
        border:1px solid $gborder;
        overflow-y: scroll;
        h3{
          color: $second;
          text-align: center;
          margin-bottom: 20px;
          font-size: 1.8rem;
        }
      }
      div.send-wrap{
        p.check{
          text-align: center;
          color: $second;
        }
        p.s-text{
          font-size: 1.2rem;
          color: $second;
          margin-top: 8px;
          text-align: center;
        }
      }
    }
  }
}
