div.archive-works{
  section.cont1{
    @include padding(120px,0,120px);
    background-color: $back;
    article.search-box{
      position: relative;
      ul{
        @include flex(space-between,center,justify,center);
        position: relative;
        z-index: 1;
        max-width: 660px;
        margin-left: auto;
        margin-right: 0;
        @media only screen and (min-width: 768px){
          transform: translateX(50px);
        }
        li{
          @include basis(calc(50% - 15px),calc(50% - 15px),100%,0,0);
          padding:0;
          label{
            display: block;
          }
          select{
            width: 100%;
            outline: none;
            color: #fff;
            border-radius: 0;
            padding:30px;
          }
          &:first-of-type{
            select{
              background-color: $demi-second;
            }
          }
          &:last-of-type{
            select{
              background-color: $second;
            }
          }
        }
      }
    }
    article.single-wrap{
      @include flex(flex-start,stretch,start,stretch);
      @include padding(80px,0,0);
      div.single{
        @include basis(calc(100% / 3),calc(100% / 3),100%,0,0);
        padding:15px;
      }
      div.inner{
        background-color: #fff;
        padding:30px 15px;
      }
      p.cat{
        font-size: 1.6rem;
        span{
          color: $second;
        }
      }
      p.thumbs{
        margin:20px auto 15px;
      }
      h3{
        font-size: 1.6rem;
        margin-bottom: 15px;
      }
      p.links{
        text-align: right;
        margin-top: 8px;
        a{
          color: $second;
          font-size: 1.2rem;
          transition: ease .3s all;
          &:hover{
            letter-spacing: .2em;
          }
        }
      }
    }
  }
}

div.single-works{
  section.cont1{
    background-color: $back;
    @include padding(0,0,80px);
    position: relative;
    &::before{
      content:"";
      background:#fff;
      top: 0;
      left: 0;
      width: 100%;
      position: absolute;
      height: 240px;
      @media only screen and (max-width: 1365px){
        height: 120px;
      }
    }
    *{
      position: relative;
      z-index: 1;
    }
    article.img-flex{
      @include flex(space-between,stretch,justify,stretch);
      @include margin2(0,80px);
      p.img{
        @include basis(calc(50% - 5px),calc(50% - 5px),100%,0,5px);
      }
    }
    article.text-flex{
      @include flex(space-between,flex-start,justify,start);
      @include margin2(0,80px);
      div.left{
        @include basis(50%,40%,100%,0,0);
        padding-left: 75px;
        padding-right: 130px;
        @media only screen and (max-width: 1365px){
          padding-left: 35px;
          padding-right: 70px;
        }
        @media only screen and (max-width: 767px){
          padding-left: 0;
          padding-right: 0;
        }
        p.cat{
          font-size: 1.4rem;
          margin-bottom: 20px;
          span{
            color: $second;
          }
        }
        p.title{
          font-size: 1.6rem;
          margin-bottom: 10px;
        }
      }
      div.right{
        @include basis3(50%,60%,100%,0,30px);
        dl{
          padding:30px 0;
          border-bottom:1px solid $gborder;
          @include flex(space-between,stretch,justify,stretch);
          &:first-of-type{
            border-top: 1px solid $gborder;
          }
        }
        dt{
          @include basis(80px,80px,100%,0,0);
          color: $second;
          font-weight: bold;
        }
        dd{
          @include basis3(calc(100% - 130px),calc(100% - 110px),100%,0,10px);
          a.map{
            color: $second;
          }
        }
      }
    }
    article.img{
      p{
        margin-top: 30px;
        &:first-of-type{
          margin-top: 0;
        }
      }
    }
  }
}
