@charset "UTF-8";
@import "mixin.scss";
.hide {
    display: none;
}

* {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.6rem;
    line-height: 1.8em;
    color: #595959;
    letter-spacing: -0.03em;
}

p {
    line-height: 2.2em;
}

@media only screen and (max-width: 767px) {
    p {
        font-size: 1.5rem;
    }
}

body {
    width: 100%;
    font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "メイリオ", Meiryo, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    position: relative;
    background: url("../images/common/all-back.png") repeat;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: block;
}

a[href^="tel"] {
    display: inline-block;
    color: #a17238;
}

img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
    height: auto !important;
}

.wrap12 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    @media only screen and (max-width: 1365px) {
        max-width: 768px;
    }
    @media only screen and (max-width: 767px) {
        max-width: 420px;
    }
}

.wrap96 {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    @media only screen and (max-width: 1365px) {
        max-width: 768px;
    }
    @media only screen and (max-width: 767px) {
        max-width: 420px;
    }
}

.hover01 {
    transition: ease 0.3s all;
    opacity: 1;
}

.hover01:hover {
    opacity: 0.5;
}

.t-button {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 15px;
    top: 15px;
    border-radius: 25px;
    z-index: 150000;
    @media only screen and (min-width: 768px) {
        right: 30px;
        top: 30px;
    }
    .bar {
        width: 24px;
        height: 4px;
        background: #a17238;
        position: absolute;
        transition: ease all 0.3s;
    }
    .bar1 {
        left: 13px;
        top: 15px;
    }
    .bar2 {
        left: 13px;
        top: 23px;
    }
    .bar3 {
        left: 13px;
        top: 31px;
    }
}

.t-button-act {
    .bar {
        background: #fff;
    }
    .bar1 {
        transform: rotate(225deg);
        top: 23px;
    }
    .bar2 {
        opacity: 0;
    }
    .bar3 {
        transform: rotate(-225deg);
        top: 23px;
    }
}

section.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 200000;
    width: 100%;
    padding: 15px 0;
    div.flex {
        @include flex(space-between,
        center,
        justify,
        center);
        nav.left,
        nav.right {
            @include basis(515px,
            515px,
            515px,
            0,
            0);
            @include flex(flex-start,
            center,
            start,
            center);
            >a {
                @include basis(33.3333%,
                33.3333%,
                33.3333%,
                0,
                0);
                text-align: center;
                border-left: 1px dotted #a67036;
                padding: 8px 15px;
                font-size: 1.4rem;
                line-height: 1em;
                color: #009b69;
                transition: ease 0.5s all;
                span {
                    display: block;
                    font-size: 1.2rem;
                    line-height: 1em;
                    color: #907758;
                }
            }
            >a:hover {
                background: #fee69f;
            }
            >a:last-of-type {
                border-right: 1px dotted #a67036;
            }
        }
        article.logo {
            @include basis(50px,
            50px,
            50px,
            0,
            0);
        }
    }
}

.nav-wrap {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(161, 114, 56, 0.8);
    width: 100%;
    max-width: 420px;
    height: 100%;
    z-index: 100000;
    transform: translateX(420px);
    transition: ease all 0.3s;
    overflow-y: scroll;
    .rgl {
        width: 100%;
        padding: 100px 0;
        >* {
            padding: 15px 30px;
        }
        p {
            border-bottom: 1px solid #fff;
        }
        p:first-of-type {
            border-top: 1px solid #fff;
        }
        a,
        i {
            color: #fff;
            position: relative;
        }
        a::before {
            content: "\f105";
            font-family: FontAwesome;
            position: absolute;
            right: 0;
        }
        .sub-nav2 {
            width: 100%;
            display: none;
            a {
                padding: 15px;
            }
        }
    }
    .icon {
        @include flex(flex-start,
        center,
        start,
        center);
        a {
            padding: 0 10px;
            i {
                font-size: 3.2rem;
            }
        }
    }
}

.nav-wrap-act {
    transform: translateX(0);
}

header {
    @include padding(100px,
    0,
    50px);
    background: url("../images/common/header-back.png") no-repeat;
    background-position: center top;
    div.wrap12 {
        position: relative;
    }
    @media only screen and (max-width: 1365px) {
        background: none;
    }
    article.kanban {
        position: absolute;
        left: 0;
        top: -120px;
    }
    nav.atoduke {
        position: absolute;
        right: 0;
        top: -50px;
        width: 380px;
        ul {
            @include flex(space-between,
            center,
            justify,
            center);
            li {
                @include basis(50%,
                50%,
                50%,
                0,
                0);
                padding: 0 20px;
                border-left: 1px solid #a17238;
                text-align: center;
                a {
                    color: #a17238;
                    text-decoration: underline;
                    font-size: 1.3rem;
                    line-height: 1em;
                    font-weight: bold;
                }
            }
        }
        p {
            width: 190px;
            margin-left: auto;
            margin-right: 25px;
            margin-top: 10px;
            a {
                display: block;
                background-color: #009b69;
                border-radius: 3px;
                text-align: center;
                color: #fff;
                font-weight: bold;
                font-size: 1.4rem;
            }
        }
    }
    h1.logo {
        margin: 0 auto;
        @media only screen and (max-width: 1365px) {
            max-width: 320px;
        }
        @media only screen and (max-width: 767px) {
            max-width: 240px;
        }
    }
    nav.header {
        @include flex(center,
        center,
        center,
        center);
        margin-top: 30px;
    }
}

section.mv {
    div.img {
        width: 100%;
        max-width: 1170px;
        height: 743px;
        margin: 0 2px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media only screen and (max-width: 1365px) {
            max-width: 750px;
            height: 480px;
        }
        @media only screen and (max-width: 768px) {
            max-width: 768px;
            height: auto;
        }
        @media only screen and (max-width: 540px) {
            max-width: 540px;
            height: auto;
        }
        img {
            opacity: 1;
            max-width: 100%;
        }
    }
    .slick-prev,
    .slick-next {
        &::after {
            content: none;
        }
    }
    .slick-prev {
        width: 100%;
        max-width: 48px;
        height: 48px;
        z-index: 1;
        background: #fff;
        opacity: 0.8;
        border-radius: 40px;
        @media screen and(max-width: 1365px) {
            left: 3% !important;
        }
        @media only screen and (max-width: 540px) {
            max-width: 32px;
            height: 32px;
        }
        &::before {
            content: "";
            position: absolute;
            top: 33%;
            left: 36%;
            border-bottom: solid 3px #009b69;
            border-left: solid 3px #009b69;
            width: 20px;
            height: 20px;
            opacity: 1;
            transform: rotate(45deg);
            @media only screen and (max-width: 540px) {
                top: 28%;
                width: 15px;
                height: 15px;
            }
        }
    }
    .slick-next {
        width: 100%;
        max-width: 48px;
        height: 48px;
        z-index: 1;
        background: #fff;
        opacity: 0.8;
        border-radius: 40px;
        @media screen and(max-width: 1365px) {
            right: 3% !important;
        }
        @media only screen and (max-width: 540px) {
            max-width: 32px;
            height: 32px;
        }
        &::before {
            content: "";
            position: absolute;
            top: 33%;
            right: 36%;
            border-top: solid 3px #009b69;
            border-right: solid 3px #009b69;
            width: 20px;
            height: 20px;
            opacity: 1;
            transform: rotate(45deg);
            @media only screen and (max-width: 540px) {
                top: 28%;
                width: 15px;
                height: 15px;
            }
        }
    }
}

section.green-back {
    background: url("../images/common/tree-back.png") repeat-x;
    background-size: auto 100%;
    background-position: top center;
    height: 293px;
    width: 100%;
    @media only screen and (max-width: 767px) {
        height: 150px;
    }
}

footer {
    @include padding(90px,
    0,
    160px);
    background: url("../images/common/footer-back.png") repeat;
    position: relative;
    section.pagetop {
        position: absolute;
        right: 50px;
        top: -50px;
        @media only screen and (max-width: 767px) {
            width: 60px;
            height: 60px;
            right: 30px;
            top: -30px;
        }
    }
    nav.footer-nav {
        @include flex(flex-start,
        flex-start,
        start,
        start);
        @include margin2(0,
        70px);
        section.single {
            @include basis(25%,
            25%,
            25%,
            0,
            0);
            padding: 0 7px;
            a {
                color: #a17238;
            }
            p.big a::before {
                content: "\f0da";
                font-family: FontAwesome;
                margin-right: 6px;
            }
            ul.small {
                padding-left: 10px;
                a {
                    font-size: 1.4rem;
                }
                a::before {
                    content: "\f105";
                    font-family: FontAwesome;
                    margin-right: 6px;
                }
            }
        }
        section.mail-post {
            p.big {
                color: #a17238;
            }
            p.big::before {
                content: "\f0da";
                font-family: FontAwesome;
                margin-right: 6px;
            }
            p.text {
                font-size: 1.4rem;
                color: #a17238;
                a {
                    font-size: 1.4rem;
                    color: #a17238;
                    text-decoration: underline;
                    display: inline;
                }
            }
            textarea {
                width: 100%;
                height: 120px;
                background: #fff;
                margin: 10px auto;
                border: 1px solid #a6937c;
            }
            input[type="submit"] {
                color: #fff;
                padding: 5px 15px;
                margin: 0 0 0 auto;
                display: block;
                background: #a17238;
                width: 120px;
            }
        }
    }
    section.info {
        @include flex(flex-start,
        center,
        start,
        center);
        article.logo {
            @include basis(370px,
            300px,
            60%,
            0,
            0);
            padding: 0 30px;
        }
        article.info-wrap {
            @include basis(500px,
            438px,
            100%,
            0,
            30px);
            padding: 8px 30px;
            @media only screen and (min-width: 767px) {
                border-left: 1px solid #a17238;
            }
            p {
                font-size: 1.4rem;
                line-height: 1.8em;
                color: #a17238;
            }
        }
        article {
            @media only screen and (max-width: 767px) {
                margin-left: auto;
                margin-right: auto;
                padding: 0 15px !important;
                p {
                    text-align: center;
                    letter-spacing: -0.05em;
                }
            }
        }
    }
}

section.side-wrap {
    @include flex(space-between,
    flex-start,
    justify,
    start);
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    @include padding(0,
    15px,
    80px);
    div.main-wrap {
        @include basis(800px,
        100%,
        100%,
        0,
        0);
    }
    div.sidebar {
        @include basis(320px,
        380px,
        100%,
        50px,
        30px);
        @media only screen and (max-width: 1365px) {
            margin-left: auto;
            margin-right: auto;
        }
        article {
            @include margin2(0,
            30px);
        }
        article.news-title {
            margin-bottom: 10px;
        }
        article.all {
            background: #fff;
            border: 5px solid #e8e5e5;
            padding: 30px;
            position: relative;
            h2 {
                text-align: center;
                padding-bottom: 15px;
                border-bottom: #e8e5e5 1px solid;
            }
            ul {
                li {
                    padding: 15px 0;
                    border-bottom: 1px #e8e5e5 dotted;
                    a {
                        display: inline-block;
                    }
                }
                li::before {
                    content: "・";
                }
            }
        }
        article.cat {
            h2 {
                color: #f8b62c;
            }
        }
        article.cat::before {
            content: "";
            height: 5px;
            background: #f8b62c;
            width: 50%;
            top: -5px;
            left: 25%;
            position: absolute;
        }
        article.mon {
            h2 {
                color: #009b69;
            }
        }
        article.mon::before {
            content: "";
            height: 5px;
            background: #009b69;
            width: 50%;
            top: -5px;
            left: 25%;
            position: absolute;
        }
    }
    article.single {
        p {
            padding: 20px 30px;
            color: #907758;
            font-weight: bold;
            text-align: center;
            line-height: 2rem;
        }
        p.top {
            background: #e7d2b5;
        }
        p.middle,
        p.bottom {
            background: #daebe7;
            @include flex(space-between,
            center,
            justify,
            center);
            color: #907758;
            font-weight: normal;
            span {
                @include basis(33.3333%,
                33.3333%,
                33.3333%,
                0,
                0);
            }
        }
        p.middle {
            padding: 0 30px;
            span {
                padding: 20px 0;
                border-bottom: 1px solid #c5c5c5;
            }
        }
    }
    div.asobou {
        box-shadow: 0 0 0 2px #e5dacd, 0 0 0 5px #fff inset;
        padding: 30px;
        @include flex(center,
        center,
        center,
        center);
        background-color: #f8f7f3;
        border: 1px solid #f2f1f0;
        h2 {
            width: 100%;
        }
        p.links {
            margin-top: 20px;
            width: 100%;
            @include flex(space-between,
            center,
            justify,
            center);
            a {
                @include basis(calc(50% - 8px),
                calc(50% - 8px),
                calc(50% - 8px),
                0,
                0);
            }
        }
        @media only screen and (max-width: 1365px) {
            max-width: 380px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .asobou2 {
        @include margin2(0,
        30px);
    }
}

.wp-pagenavi {
    text-align: center;
    margin-top: 30px;
    .pages {
        display: none;
    }
    a {
        display: inline;
        color: #14ae67 !important;
    }
    span {
        background: #14ae67;
        color: #fff !important;
    }
    .page {
        background: #feeda6;
    }
    a,
    span {
        padding: 4px 10px !important;
        font-size: 1.6rem !important;
        border: none !important;
        border-radius: 50%;
    }
}

section.sv {
    @include margin2(0,
    80px);
}

@media only screen and (min-width: 1366px) {
    .tab {
        display: none !important;
    }
}

@media only screen and (max-width: 1365px) {
    .pc2 {
        display: none !important;
    }
}

@media only screen and (min-width: 768px) {
    .sp {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .pc {
        display: none !important;
    }
}

@import "index";
@import "news-list";
@import "contact";
@import "about";
@import "schedule";
@import "information";
@import "recruit";
@import "company";