<ul>
  <li>
    <p class="left">お問い合わせ内容</p>
    <p class="right">[radio y-mokuteki default:1 "園に関するお問い合わせ" "見学のお申し込み"]</p>
  </li>
  <li>
    <p class="left">お名前<span>※</span></p>
    <p class="right">[text* y-name]</p>
  </li>
  <li>
    <p class="left">フリガナ<span>※</span></p>
    <p class="right">[text* f-name]</p>
  </li>
  <li>
    <p class="left">電話番号<span>※</span></p>
    <p class="right">[text* y-tell]</p>
  </li>
  <li>
    <p class="left">メール<span>※</span></p>
    <p class="right">[email* your-email]</p>
  </li>
  <li>
    <p class="left">メール（確認）<span>※</span></p>
    <p class="right">[email* your-email_confirm]</p>
  </li>
  <li>
    <p class="left">見学の希望日時<span>※</span></p>
    <p class="right">[text c-days]</p>
  </li>
  <li>
    <p class="left">お問い合わせの詳細</p>
    <p class="right">[textarea c-textarea]</p>
  </li>
</ul>
<div class="privacy">
  <h3>プライバシーポリシー</h3>
  <p class="text">
    はばたき幼稚園／弥富はばたき幼稚園／弥富はばたき幼稚園保育部（以下「当園」といいます）では、園児及び保護者、取引先業者のいずれにもかかわらず、当園に対して個人情報を提供されるすべての方の個人情報を個人情報取扱事業者として適切に保護する責務を負い、その取り扱い方針を次のとおり定め、個人情報の保護に努めます。
    <span>1）個人情報の収集</span>当サイト上では個人情報を意図的に収集することはございませんが、当サイトを通したお問い合わせやご相談などに際して、 ご依頼者からのお電話やメールの内容から個人情報を伺い知る場合がございます。
    <span>2）個人情報の紛失、破壊、改ざん、および漏えい等を防止する対策を行います。</span>個人情報の紛失、破壊、改ざん、および漏えい等を防止するため、不正アクセス対策、ウイルス対策等の情報セキュリティ対策を行います。
    <span>3）個人情報の管理</span>個人情報の取り扱いと認識について、教職員に対して継続的に教育をおこない、適切な管理に努めると共に、紛失や漏えい等の防止に努めます。
    <span>4）個人情報の利用</span>当サイトを通してお預かりしたご依頼者の個人情報の利用範囲は、ご本人の確認やご依頼内容から発生するやりとりの範囲を除いて、 ご依頼者の了解無くこれを第三者に公開・提供することはございません。 但し、法令に基づく場合や、緊急時（人命・財産の保護など）に本人の同意を得ることが困難である場合は、この限りではありません。
    <span>5）個人情報の開示・訂正等について</span>個人情報保護法に基づく本学園が所有する個人情報に関する開示、訂正等または利用停止等の請求及び個人情報の取扱いに関する苦情等については、後述する電話番号の問合せ窓口に、次の事項をご確認の上、ご本人からご連絡ください。

    1）お名前
    2）ご住所
    3）ご連絡先電話番号
    4）ご要請内容

    ＜個人情報お問い合わせ窓口＞
    学校法人　愛育学園　電話：0567－96－2468
  </p>
</div>
<div class="check">
  <p>[acceptance check-box]利用規約に同意する</p>
</div>
<div class="send">
  <p class="send-button">[confirm "入力内容を確認する"][submit "上記の内容で送信する"][back "戻って編集する"]</p>
</div>

<ul>
  <li>
    <p class="left">お問い合わせ内容</p>
    <p class="right">[radio y-mokuteki default:1 "求人への応募" "見学への応募" "求人のお問い合わせ"]</p>
  </li>
  <li>
    <p class="left">お名前<span>※</span></p>
    <p class="right">[text* y-name]</p>
  </li>
  <li>
    <p class="left">フリガナ<span>※</span></p>
    <p class="right">[text* f-name]</p>
  </li>
  <li>
    <p class="left">電話番号<span>※</span></p>
    <p class="right">[text* y-tell]</p>
  </li>
  <li>
    <p class="left">メール<span>※</span></p>
    <p class="right">[email* your-email]</p>
  </li>
  <li>
    <p class="left">メール（確認）<span>※</span></p>
    <p class="right">[email* your-email_confirm]</p>
  </li>
  <li>
    <p class="left">希望日時<span>※</span></p>
    <p class="right">[text c-days]</p>
  </li>
  <li>
    <p class="left">お問い合わせの詳細</p>
    <p class="right">[textarea c-textarea]</p>
  </li>
</ul>
<div class="privacy">
  <h3>プライバシーポリシー</h3>
  <p class="text">
    はばたき幼稚園／弥富はばたき幼稚園／弥富はばたき幼稚園保育部（以下「当園」といいます）では、園児及び保護者、取引先業者のいずれにもかかわらず、当園に対して個人情報を提供されるすべての方の個人情報を個人情報取扱事業者として適切に保護する責務を負い、その取り扱い方針を次のとおり定め、個人情報の保護に努めます。
    <span>1）個人情報の収集</span>当サイト上では個人情報を意図的に収集することはございませんが、当サイトを通したお問い合わせやご相談などに際して、 ご依頼者からのお電話やメールの内容から個人情報を伺い知る場合がございます。
    <span>2）個人情報の紛失、破壊、改ざん、および漏えい等を防止する対策を行います。</span>個人情報の紛失、破壊、改ざん、および漏えい等を防止するため、不正アクセス対策、ウイルス対策等の情報セキュリティ対策を行います。
    <span>3）個人情報の管理</span>個人情報の取り扱いと認識について、教職員に対して継続的に教育をおこない、適切な管理に努めると共に、紛失や漏えい等の防止に努めます。
    <span>4）個人情報の利用</span>当サイトを通してお預かりしたご依頼者の個人情報の利用範囲は、ご本人の確認やご依頼内容から発生するやりとりの範囲を除いて、 ご依頼者の了解無くこれを第三者に公開・提供することはございません。 但し、法令に基づく場合や、緊急時（人命・財産の保護など）に本人の同意を得ることが困難である場合は、この限りではありません。
    <span>5）個人情報の開示・訂正等について</span>個人情報保護法に基づく本学園が所有する個人情報に関する開示、訂正等または利用停止等の請求及び個人情報の取扱いに関する苦情等については、後述する電話番号の問合せ窓口に、次の事項をご確認の上、ご本人からご連絡ください。

    1）お名前
    2）ご住所
    3）ご連絡先電話番号
    4）ご要請内容

    ＜個人情報お問い合わせ窓口＞
    学校法人　愛育学園　電話：0567－96－2468
  </p>
</div>
<div class="check">
  <p>[acceptance check-box]利用規約に同意する</p>
</div>
<div class="send">
  <p class="send-button">[confirm "入力内容を確認する"][submit "上記の内容で送信する"][back "戻って編集する"]</p>
</div>
