header{
  padding:30px 0;
  position: relative;
  div.flex{
    @include flex(space-between,center,justify,center);
    position: relative;
    section.logo{
      @include basis2(300px,300px,220px,0,0);
      padding:50px 0;
    }
    nav.global{
      @include basis2(calc(100% - 370px),100%,100%,0,0);
      @include flex(space-between,center,justify,center);
      ul{
        @include basis(calc(100% - 290px),calc(100% - 290px),calc(100% - 290px),0,0);
        @include flex(space-between,center,justify,center);
        a:hover{
          text-decoration: underline;
        }
      }
      article.contact{
        @include basis(240px,240px,240px,0,0);
        background-color: $second;
        border:2px solid $second;
        text-align: center;
        vertical-align: middle;
        transition: ease .3s all;
        a{
          @include flex(center,center,center,center);
          padding:10px;
          color: #fff;
          transition: ease .3s all;
        }
        svg:first-of-type{
          display: inline-block;
          margin-right: 8px;
          font-size: 2.4rem;
        }
        svg:last-of-type{
          display: inline-block;
          margin-left: 8px;
        }
        &:hover{
          background-color: #fff;
          a{
            color: $second;
          }
        }
      }
    }
  }
  section.toggle-button{
    position: absolute;
    width: 24px;
    height: 16px;
    right: 30px;
    top:0;
    bottom:0;
    margin:auto 0;
    z-index: 200;
    cursor: pointer;
    div.bar{
      height: 2px;
      background-color: $second;
      position: absolute;
      right: 0;
      transition: ease .5s all .5s;
      &:first-of-type{
        top: 0;
        width: 24px;
      }
      &:nth-of-type(2){
        top: 7px;
        width: 16px;
      }
      &:last-of-type{
        top: 14px;
        width: 8px;
      }
    }
    &.toggle-in{
      div.bar{
        background-color: #fff;
        &:first-of-type{
          top: 0;
          width: 8px;
        }
        &:nth-of-type(2){
          top: 7px;
          width: 16px;
        }
        &:last-of-type{
          top: 14px;
          width: 24px;
        }
      }
    }
  }
}

nav.spnav{
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: rgba(34,108,178,.8);
  width: 100%;
  max-width: 480px;
  z-index: 100;
  overflow-y: scroll;
  transition: ease-out 1s all;
  transform: rotateY(90deg);
  transform-origin: center right;
  @include flex(center,center,center,center);
  article.inner-wrap{
    width: 100%;
    padding:80px;
    @media only screen and (max-width: 767px){
      padding:30px;;
    }
    @include flex(center,center,center,center);
  }
  p{
    @include basis(100%,100%,100%,0,0);
    margin-bottom: 30px;
    &:last-of-type{
      margin-bottom: 0;
    }
    a{
      color: #fff;
      svg{
        display: inline-block;
        margin-left: 8px;
      }
    }
  }
  &.spnav-in{
    transform: rotateY(0);
  }
}
